<style>

  .btn-default {
    background-color: #EEEDEB;
    color: #847d70;
    border-color: #ddd;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
  }

  .btn-default-rojo {
    background-color: #E60000;
    color: #fff;
    border-color: #E60000;
  }

    .btn-default-rojo:hover {
      background-color: #E60000;
      color: #fff;
      border-color: #E60000;
    }
</style>
<div mat-dialog-content>
  <div class="row">
    <div class="form-group col-xs-12">
      <div class="col-xs-12 col-md-6" style="text-align:left; padding:0;">
        <span style="display: inline-block; font-size: 18px; margin: 0; line-height: 1; font-weight: bold;">
          Agenda la hora de visita
        </span>
      </div>
      <div class="col-xs-12 col-md-6" style="text-align:right; padding:0;">
        <i class="fa fa-times" aria-hidden="true" (click)="onNoClick()" style="font-size:large"></i>
      </div>
    </div>
    <div class="col-xs-12" style="padding-left:0; padding-right:0; padding-bottom:10px">
      <mat-divider></mat-divider>
    </div>
    <div class="form-group col-md-12">
      <label style="display: inline-block;
                          max-width: 100%;
                          margin-bottom: 0;
                          padding-bottom: 0;
                          font-weight: bold; font-size:medium">{{data.tipo_servicio.desc_tipo_servicio}}</label><br />
      <label style="display: inline-block;
                          max-width: 100%;
                          margin-bottom: 0; font-size:small">
        {{data.tecnico.tecnico}}
      </label><br />
      <label style="display: inline-block;
                          max-width: 100%;
                          margin-bottom: 5px; font-size:small" *ngIf="data.propuesto">
        Fecha propuesta para visita: {{data.fecha}}
      </label>
      <label style="display: inline-block;
                          max-width: 100%;
                          margin-bottom: 5px; font-size:small" *ngIf="!data.propuesto">
        Fecha de visita: {{data.fecha}}
      </label>
    </div>
    <div class="form-group col-xs-12">
      <div class="col-md-5" style="padding:0;">        
        <mat-form-field class="full-width">
          <!--<mat-icon matSuffix><i class="fa fa-clock-o" aria-hidden="true"></i></mat-icon>-->
          <mat-select placeholder="Hora inicio visita" name="hora_inicio " disabled #hora_inicio="ngModel" [(ngModel)]="ddlhora_inicio">
            <mat-option value="09">
              9 a.m.
            </mat-option>
            <mat-option value="11">
              11 a.m.
            </mat-option>
            <mat-option value="14">
              2 p.m.
            </mat-option>
            <mat-option value="16">
              4 p.m.
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-2 text-center" style="padding-top:20px;">
        <i class="fa fa-minus" aria-hidden="true" style="font-weight:100; color:#847d70"></i>
      </div>

      <div class="col-md-5" style="padding:0;">
        <mat-form-field class="full-width">
          <!--<mat-icon matSuffix><i class="fa fa-clock-o" aria-hidden="true"></i></mat-icon>-->
          <mat-select placeholder="Hora termino visita" name="hora_fin" #hora_fin="ngModel" [(ngModel)]="ddlhora_fin">
            <mat-option value="11" (click)="set_hora_fin(11)">
              11 a.m.
            </mat-option>
            <mat-option value="13" (click)="set_hora_fin(13)">
              1 p.m.
            </mat-option>
            <mat-option value="16" (click)="set_hora_fin(16)">
              4 p.m.
            </mat-option>
            <mat-option value="18" (click)="set_hora_fin(18)">
              6 p.m.
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>      
    </div>
  </div>
</div>
<div class="col-xs-12" style="text-align:right;">
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="btn-default btn-default-rojo">Guardar</button>
</div>
