<style>

  .btn-default {
    background-color: #EEEDEB;
    color: #847d70;
    border-color: #ddd;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
  }

  .btn-default-rojo {
    background-color: #E60000;
    color: #fff;
    border-color: #E60000;
  }

    .btn-default-rojo:hover {
      background-color: #E60000;
      color: #fff;
      border-color: #E60000;
    }

</style>
<div mat-dialog-content>
  <div class="row">
    <div class="form-group col-xs-12">
      <div class="col-xs-12 col-md-6" style="text-align:left; padding:0;">
        <span style="display: inline-block; font-size: 18px; margin: 0; line-height: 1; font-weight: bold;">
          IBS
        </span>
      </div>
      <div class="col-xs-12 col-md-6" style="text-align:right; padding:0;">
        <i class="fa fa-times" aria-hidden="true" (click)="onNoClick()" style="font-size:large"></i>
      </div>
    </div>
    <div class="col-xs-12" style="padding-left:0; padding-right:0; padding-bottom:10px">
      <mat-divider></mat-divider>
    </div>
    <div class="col-xs-12">
      <label>Su servicio a sido creado. Este es el número de confirmacion con el cual puede darle seguimiento:&nbsp;&nbsp;<span style="font-size:x-large; color:#E60000">#{{data.response}}</span></label>
    </div>
    <div class="form-group col-md-12">
      <label>Ingresa número de IBS</label>
      <input type="text" class="form-control" [(ngModel)]="data.ibs" required >
      <!--<div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
           class="alert alert-danger">
        <div *ngIf="noalmacen.errors.required">
          Número de almacen requerido.
        </div>
      </div>-->
    </div>
  </div>
</div>
<div class="col-xs-12" style="text-align:center;">
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="btn-default btn-default-rojo" (click)="guardar_ibs();">Guardar</button>
</div>
