<div class="content-wrapper">
  <br class="visible-xs" />
  <br class="visible-xs" />
  <form #verservicioForm="ngForm">
    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Datos del cliente</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group col-xs-12">
                <br />
                <mat-radio-group id="tipo_persona" class="accent" name="tipo_persona" #tipo_persona="ngModel" [(ngModel)]="cliente.tipo_persona">
                  <mat-radio-button value="Persona fisica">Persona fisica</mat-radio-button>
                  <mat-radio-button value="Persona moral">Persona moral</mat-radio-button>                 
                </mat-radio-group>
              </div>
              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4" *ngIf="cliente.tipo_persona != 'Persona moral'">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="nombre" name="nombre" [(ngModel)]="cliente.nombre" #nombre="ngModel" placeholder="Nombre(s)" required>
                    <mat-error *ngIf="nombre.dirty || nombre.pristine">
                      Nombre es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4" *ngIf="cliente.tipo_persona == 'Persona moral'">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="nombre_comercial" name="nombre_comercial" [(ngModel)]="cliente.nombre_comercial" #nombre_comercial="ngModel" placeholder="Nombre comercial" required>
                    <mat-error *ngIf="nombre_comercial.dirty || nombre_comercial.pristine">
                      Nombre comercial es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4" *ngIf="cliente.tipo_persona != 'Persona moral'">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="paterno" name="paterno" [(ngModel)]="cliente.paterno" #paterno="ngModel" placeholder="Apellido paterno" required>
                    <mat-error *ngIf="paterno.dirty || paterno.pristine">
                      Apellido paterno es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4" *ngIf="cliente.tipo_persona != 'Persona moral'">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="materno" name="materno" [(ngModel)]="cliente.materno" #materno="ngModel" placeholder="Apellido materno">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-8" *ngIf="cliente.tipo_persona == 'Persona moral'">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="nombre_contacto" name="nombre_contacto" [(ngModel)]="cliente.nombre_contacto" #nombre_contacto="ngModel" placeholder="Nombre de contacto" required>
                    <mat-error *ngIf="nombre_contacto.dirty || nombre_contacto.pristine">
                      Nombre de contacto es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="email" matInput id="email" name="email" [(ngModel)]="cliente.email" #email="ngModel" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" required>
                    <!--<mat-error *ngIf="email.dirty || email.pristine">
                      Email es <strong>requerido</strong>
                    </mat-error>-->
                    <mat-error *ngIf="email.errors && email.errors.pattern || email.dirty || email.pristine">
                      El Email no es valido (ej. ejemplo@do.com)
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" [textMask]="{mask: mask_cp, guide: false}" matInput id="cp" name="cp" [(ngModel)]="direccion.cp" #cp="ngModel" (ngModelChange)="sepomex();" placeholder="CP" required>
                    <mat-error *ngIf="cp.dirty || cp.pristine">
                      Código postal es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Estado" id="estado" name="estado" #estado="ngModel" [(ngModel)]="direccion.id_estado" (change)="getmunicipios()" required>
                      <mat-option *ngFor="let value of estados; trackBy: index;" [value]="value.id">
                        {{value.desc_estado | uppercase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="estado.dirty || estado.pristine">
                      Estado es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Delegación / Municipio" id="municipio" name="municipio" #municipio="ngModel" [(ngModel)]="direccion.id_municipio" required>
                      <mat-option *ngFor="let value of municipios; trackBy: index;" [value]="value.id">
                        {{value.municipio | uppercase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="municipio.dirty || municipio.pristine">
                      Delegación / Municipio es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Colonia" id="colonia" name="colonia" #colonia="ngModel" [(ngModel)]="direccion.id_localidad" required>
                      <mat-option *ngFor="let value of localidades; trackBy: index;" [value]="value.id_localidad" (click)="set_colonia(value.localidad);">
                        {{value.localidad | uppercase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="colonia.dirty || colonia.pristine">
                      Colonia es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <div class="col-md-4" style="padding-left:0; padding-right:1px;">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Tipo de calle" id="tipo_calle" name="tipo_calle" #tipo_calle="ngModel" [(ngModel)]="direccion.tipo_calle" required>
                        <mat-option value="Calle">
                          CALLE
                        </mat-option>
                        <mat-option value="Calle">
                          AV.
                        </mat-option>
                        <mat-option value="Calle">
                          CALLEJON
                        </mat-option>
                        <mat-option value="Calle">
                          BLVR.
                        </mat-option>
                        <mat-option value="Calle">
                          CERRADA
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="tipo_calle.dirty || tipo_calle.pristine">
                        Calle es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>

                  </div>
                  <div class="col-md-8" style="padding-right:0; padding-left:0;">
                    <mat-form-field class="full-width">
                      <input type="text" matInput id="calle_numero" name="calle_numero" [(ngModel)]="direccion.calle_numero" (ngModelChange)="validar_calle()" #calle_numero="ngModel" placeholder="Nombre calle" required>
                      <mat-error *ngIf="calle_numero.dirty || calle_numero.pristine">
                        Nombre de la calle es <strong>requerido</strong>
                      </mat-error>
                      <div *ngIf="_tipo_calle_direccion" class="mat-input-subscript-wrapper mat-form-field-subscript-wrapper" style="margin-top: 1.94567892em;">
                        <div class="mat-error" role="alert">
                          El nombre de la calle no puede contener la palabra <strong>{{_nombre_calle}}</strong></div> 
                      </div>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="NumExt" name="NumExt" [(ngModel)]="direccion.NumExt" #NumExt="ngModel" placeholder="No. exterior" required>
                    <mat-error *ngIf="NumExt.dirty || NumExt.pristine">
                      Número exterior es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="NumInt" name="NumInt" [(ngModel)]="direccion.NumInt" #NumInt="ngModel" placeholder="No. interior">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" [textMask]="{mask: mask_telefono, guide: false}" matInput id="telefono" name="telefono" [(ngModel)]="cliente.telefono" #telefono="ngModel" placeholder="Teléfono fijo" required>
                    <mat-error *ngIf="telefono.dirty || telefono.pristine">
                      Teléfono es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" [textMask]="{mask: mask_telefono, guide: false}" matInput id="telefono_movil" name="telefono_movil" [(ngModel)]="cliente.telefono_movil" #telefono_movil="ngModel" placeholder="Teléfono celular" required>
                    <mat-error *ngIf="telefono_movil.dirty || telefono_movil.pristine">
                      Teléfono movil es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group col-md-12">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Referencias" id="referencias" name="referencias" [(ngModel)]="cliente.referencias" #referencias="ngModel" required></textarea>
                    <mat-error *ngIf="referencias.dirty || referencias.pristine">
                      Referencia es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Datos fiscales</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="razon_social" name="razon_social" [(ngModel)]="datosfiscales.razon_social" #razon_social="ngModel" placeholder="Razón social" required>
                    <mat-error *ngIf="razon_social.dirty || razon_social.pristine">
                      Razón social es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="rfc" name="rfc" [(ngModel)]="datosfiscales.rfc" #rfc="ngModel" placeholder="RFC" required>
                    <mat-error *ngIf="rfc.dirty || rfc.pristine">
                      RFC es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="emailfiscales" name="emailfiscales" [(ngModel)]="datosfiscales.email" #emailfiscales="ngModel" placeholder="Email" required>
                    <mat-error *ngIf="emailfiscales.dirty || emailfiscales.pristine">
                      Email es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" [textMask]="{mask: mask_cp, guide: false}" matInput id="cpfiscales" name="cpfiscales" [(ngModel)]="datosfiscales.cp" #cpfiscales="ngModel" (ngModelChange)="sepomex_datos_fiscales();" placeholder="CP" required>
                    <mat-error *ngIf="cpfiscales.dirty || cpfiscales.pristine">
                      C.P es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Estado" id="estadofiscales" name="estadofiscales" #estadofiscales="ngModel" [(ngModel)]="datosfiscales.id_estado" (ngModelChange)="getmunicipios_datos_fiscales()" required>
                      <mat-option *ngFor="let value of estados_datos_fiscales; trackBy: index;" [value]="value.id">
                        {{value.desc_estado | uppercase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="estadofiscales.dirty || estadofiscales.pristine">
                     Estado es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Delegación / Municipio" id="municipiofiscales" name="municipiofiscales" #municipiofiscales="ngModel" [(ngModel)]="datosfiscales.id_municipio" required>
                      <mat-option *ngFor="let value of municipios_datos_fiscales; trackBy: index;" [value]="value.id">
                        {{value.municipio | uppercase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="municipiofiscales.dirty || municipiofiscales.pristine">
                      Municipio es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <!--<mat-select placeholder="Colonia" id="colonia" name="colonia" #colonia="ngModel" [(ngModel)]="datosfiscales.colonia" >
                      <mat-option *ngFor="let value of localidades_datos_fiscales; trackBy: index;" [value]="value.id_localidad">
                        {{value.localidad | uppercase}}
                      </mat-option>
                    </mat-select>-->
                    <input type="text" matInput placeholder="Colonia" id="coloniafiscales" name="coloniafiscales" #coloniafiscales="ngModel" [(ngModel)]="datosfiscales.colonia" required>
                    <mat-error *ngIf="coloniafiscales.dirty || coloniafiscales.pristine">
                      Colonia es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <div class="col-md-4" style="padding-left:0; padding-right:1px;">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Tipo de calle" id="tipo_callefiscales" name="tipo_callefiscales" #tipo_callefiscales="ngModel" [(ngModel)]="direccion.tipo_calle" required>
                        <mat-option value="Calle">
                          CALLE
                        </mat-option>
                        <mat-option value="Calle">
                          AV.
                        </mat-option>
                        <mat-option value="Calle">
                          CALLEJON
                        </mat-option>
                        <mat-option value="Calle">
                          BLVR.
                        </mat-option>
                        <mat-option value="Calle">
                          CERRADA
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="tipo_callefiscales.dirty || tipo_callefiscales.pristine">
                        Calle es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-8" style="padding-right:0; padding-left:0;">
                    <mat-form-field class="full-width">
                      <input type="text" matInput id="calle_numerofiscales" name="calle_numerofiscales" [(ngModel)]="datosfiscales.calle_numero" #calle_numerofiscales="ngModel" (ngModelChange)="validar_calle_datos_ficales()" placeholder="Calle" required>
                      <mat-error *ngIf="calle_numerofiscales.dirty || calle_numerofiscales.pristine">
                        Nombre de la calle es <strong>requerido</strong>
                      </mat-error>
                      <div *ngIf="_tipo_calle_datos_fiscales" class="mat-input-subscript-wrapper mat-form-field-subscript-wrapper" style="margin-top: 1.94567892em;">
                        <div class="mat-error" role="alert">
                          El nombre de la calle no puede contener la palabra <strong>{{_nombre_calle_datos_fiscales}}</strong>
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="NumExtfiscales" name="NumExtfiscales" [(ngModel)]="datosfiscales.Ext_fact" #NumExtfiscales="ngModel" placeholder="No. exterior" required>
                    <mat-error *ngIf="NumExtfiscales.dirty || NumExtfiscales.pristine">
                      Número exterior es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="NumInt" name="NumInt" [(ngModel)]="datosfiscales.Int_fact" #NumInt="ngModel" placeholder="No. interior">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput [textMask]="{mask: mask_telefono, guide: false}" id="telefonofiscales" name="telefonofiscales" [(ngModel)]="datosfiscales.telefono_fact" #telefonofiscales="ngModel" placeholder="Teléfono fijo" required>
                    <mat-error *ngIf="telefonofiscales.dirty || telefonofiscales.pristine">
                      Teléfono fijo es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group col-md-12" style="text-align:right">
                <button type="button" (click)="copiar_direccion()" class="pull-center btn btn-default btn-default-rojo">
                  Copiar dirección del cliente
                </button>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Información de solicitud de servicio</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12" style="padding:0;">
                <div class="form-group col-md-3">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Tipo de servicio solicitado" id="id_tipo_servicio" name="id_tipo_servicio" #id_tipo_servicio="ngModel" [(ngModel)]="servicio.id_tipo_servicio" (change)="getproductos()" required>
                      <mat-option *ngFor="let value of tipo_servicio; trackBy: index;" [value]="value">
                        {{value.desc_tipo_servicio | uppercase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="id_tipo_servicio.dirty || id_tipo_servicio.pristine">
                      Tipo de servicio es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Sub-tipo de servicio solicitado" id="id_sub_tipo_servicio" name="id_sub_tipo_servicio" #id_sub_tipo_servicio="ngModel" [(ngModel)]="servicio.id_sub_tipo_servicio" required>
                      <mat-option *ngFor="let value of sub_tipo_servicio; trackBy: index;" [value]="value.id">
                        {{value.sub_desc_tipo_servicio | uppercase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="id_tipo_servicio.dirty || id_tipo_servicio.pristine">
                      Sub-Tipo de servicio es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <label>Solicitado por</label><br />
                  <mat-radio-group id="id_solicitado_por" name="id_solicitado_por" #id_solicitado_por="ngModel" [(ngModel)]="servicio.id_solicitado_por">
                    <mat-radio-button value="1" (click)="ver_distribuidor(1);">Cliente directo</mat-radio-button><br />
                    <mat-radio-button value="2" (click)="ver_distribuidor(2);">Distribuidor autorizado</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="form-group col-md-3">
                  <label>Solicitud vía</label><br />
                  <mat-radio-group id="id_solicitud_via" name="id_solicitud_via" #id_solicitud_via="ngModel" [(ngModel)]="servicio.id_solicitud_via">
                    <mat-radio-button value="1">Teléfono</mat-radio-button>
                    <mat-radio-button value="2">Web</mat-radio-button><br />
                    <mat-radio-button value="3">Correo</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-xs-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <label></label><br />
                  <mat-checkbox class="example-margin" id="activar_credito" name="activar_credito" #activar_credito="ngModel" [(ngModel)]="servicio.activar_credito">Activar credito</mat-checkbox>
                </div>
                <div class="form-group col-md-4" *ngIf="servicio.id_solicitado_por == 2">
                  <div>
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Distribuidor autorizado" id="id_distribuidor_autorizado" name="id_distribuidor_autorizado" #id_distribuidor_autorizado="ngModel" [(ngModel)]="servicio.id_distribuidor_autorizado" required>
                        <mat-option *ngFor="let value of distribuidor_servicio; trackBy: index;" [value]="value.id">
                          {{value.desc_distribuidor | uppercase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="id_distribuidor_autorizado.dirty || id_distribuidor_autorizado.pristine">
                        Distribuidor autorizado es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group col-md-4">

                </div>
              </div>
              <div class="col-xs-12" style="padding:0;" *ngIf="servicio.id_solicitado_por == 2">
                <div class="form-group col-md-4">

                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="contactodistribuidor" name="contactodistribuidor" [(ngModel)]="servicio.contacto" #contactodistribuidor="ngModel" placeholder="Contacto" required>
                    <mat-error *ngIf="contactodistribuidor.dirty || contactodistribuidor.pristine">
                      Contacto es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">

                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-12" [hidden]="ver_productos">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Instalación o servicio</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12" style="margin-bottom:15px; padding:0;">
                <div class="input-group" style="padding:0;">
                  <div class="col-md-12">
                    <mat-form-field class="full-width">
                      <input matInput type="text" id="busqueda" name="busqueda" [(ngModel)]="text_busqueda" #busqueda="ngModel" placeholder="Buscar producto por: nombre, modelo">
                    </mat-form-field>
                  </div>
                  <span class="input-group-btn">
                    <button type="button" class="pull-center btn btn-default btn-default-rojo" (click)="buscar()" [disabled]="preventAbuse">
                      {{ preventAbuse ? 'Buscando...' : 'Buscar' }}
                    </button>
                  </span>
                  <span class="input-group-btn">
                  </span>
                  <span class="input-group-btn">
                    <button type="button" class="pull-center btn btn-default btn-default-rojo" (click)="nuevo_producto()">Nuevo producto</button>
                  </span>
                </div>
              </div>
              <div class="col-xs-12" style="margin-bottom:15px; padding:0;">
                <div class="col-md-8">
                  <div class="example-container mat-elevation-z4" [hidden]="ver_nuevo_producto" *ngIf="dataSource.data.length > 0">
                    <mat-table #table [dataSource]="dataSource">

                      <!-- Checkbox Column -->
                      <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index">
                          <div class="col-xs-12" style="text-align:center; padding:0;">
                            <mat-checkbox (change)="set_productos($event, row, i)" [checked]="row.checked">
                            </mat-checkbox>
                          </div>
                        </mat-cell>
                      </ng-container>

                      <!-- Position Column -->
                      <ng-container matColumnDef="Modelo">
                        <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.modelo}} </mat-cell>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="SKU">
                        <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.sku}} </mat-cell>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="Tipo">
                        <mat-header-cell *matHeaderCellDef> Tipo de equipo </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.tipo}} </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;">
                      </mat-row>
                    </mat-table>
                  </div>
                  <div *ngIf="ver">
                    No hay productos con la busqueda <span style="color:#A5000D"> {{text_busqueda}}</span>
                  </div>
                  <div class="col-xs-12" style="padding:0;" [hidden]="!ver_nuevo_producto">
                    <div class="form-group col-md-4" style="padding-left:0;">
                      <mat-form-field class="full-width">
                        <mat-select placeholder="Categoria producto" id="id_categoria" name="id_categoria" #id_categoria="ngModel" [(ngModel)]="producto.id_categoria">
                          <mat-option *ngFor="let value of values; trackBy: index;" [value]="value">
                            {{ value.codigo | uppercase}} - {{ value.descripcion | uppercase}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-8" style="padding:0;">
                      <mat-form-field class="full-width">
                        <input type="text" matInput id="modelo" name="modelo" [(ngModel)]="producto.modelo" #modelo="ngModel" placeholder="Modelo" >
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="form-group col-md-12 text-right" style="padding:0;" [hidden]="!ver_nuevo_producto">
                    <button class="pull-center btn btn-default btn-default-rojo" (click)="regresar_busqueda()">Regresar</button>
                    &nbsp;&nbsp;
                    <br class="visible-xs" />
                    <br class="visible-xs" />
                    <button type="button" class="pull-center btn btn-default" (click)="guardar_producto()">Guardar</button><!--[disabled]="validform"-->
                  </div>
                </div>

                <div class="col-md-4" *ngIf="value_productos.length > 0">
                  <label>Productos seleccionados</label><br />
                  <label *ngFor="let value of value_productos; trackBy: index;" class="col-xs-12">
                    <i class="fa fa-times-circle-o" aria-hidden="true" style="color:#A5000D" (click)="delete_producto(value);"></i>
                    {{value.tipo}} - {{value.modelo}}
                  </label>
                </div>
              </div>

              <div class="col-xs-12" style="padding-bottom:15px">
                <mat-form-field class="full-width">
                  <textarea matInput id="descripcion_actividades" name="descripcion_actividades" [(ngModel)]="servicio.descripcion_actividades" #descripcion_actividades="ngModel"  placeholder="Reporte del cliente" required></textarea>
                  <mat-error *ngIf="descripcion_actividades.dirty || descripcion_actividades.pristine">
                    Reporte del cliente es <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-12" [hidden]="valid_tipo_taller">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Agenda</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12" style="padding:0;">
                <div class="col-xs-12" style="text-align:left; margin-bottom:10px;">
                  <button type="button" class="pull-center btn btn-default" id="sendEmail" (click)="openAgenda($event);">
                    Agendar cita
                  </button>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input [textMask]="{mask: mask, guide: false}" type="text" matInput id="fecha_visita" name="fecha_visita" #fecha_visita="ngModel" [(ngModel)]="visita.fecha_visita" placeholder="Fecha" required>
                    <mat-icon matSuffix><i class="fa fa-calendar" aria-hidden="true"></i></mat-icon>
                    <mat-error *ngIf="fecha_visita.dirty || fecha_visita.pristine">
                      Fecha es<strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input id="id_tecnico" type="text" matInput name="id_tecnico" #id_tecnico="ngModel" [(ngModel)]="txt_tecnico" placeholder="Técnico" required>
                    <mat-error *ngIf="fecha_visita.dirty || fecha_visita.pristine">
                      Técnico es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input matInput id="hora" type="text" name="hora" #hora="ngModel" [(ngModel)]="visita.hora" placeholder="Hora" required>
                    <mat-error *ngIf="hora.dirty || hora.pristine">
                      Hora es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Pagos</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12" style="padding:0">
                <mat-tab-group class="demo-tab-group">
                  <mat-tab label="Pago con tarjeta">
                    <div class="demo-tab-content">
                      <form #EquiposForm="ngForm">
                        <div class="col-xs-12" style="padding:0">
                          <div class="form-group col-xs-12 col-md-12">
                            <br />
                            <div class="col-md-6" style="padding:0;">
                              <label>Concepto</label><br />
                              <span>{{concepto}}</span><br /><br />
                            </div>
                            <div class="col-md-6" style="padding:0;">
                              <label>Cantidad</label><br />
                              <span style="color:#4B91E2">${{categoria_servicio_cantidad}}</span><br /><br />
                            </div>
                            <br />
                            <br />
                            <br />
                            <mat-divider></mat-divider>
                          </div>

                          <div class="form-group col-xs-12 col-md-12">
                            <mat-form-field class="full-width">
                              <input matInput placeholder="Número de tarjeta de credito">
                            </mat-form-field>
                          </div>

                          <div class="form-group col-xs-12 col-md-6">
                            <mat-form-field class="full-width">
                              <input matInput placeholder="Nombre del tarjetahabiente">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-xs-12 col-md-6">
                            <mat-form-field class="full-width">
                              <input matInput placeholder="Mes de expiración">
                            </mat-form-field>
                          </div>

                          <div class="form-group col-xs-12 col-md-6">
                            <mat-form-field class="full-width">
                              <mat-select placeholder="Año de expiración">
                                <mat-option value="1">2018</mat-option>
                                <mat-option value="1">2019</mat-option>
                                <mat-option value="1">2020</mat-option>
                                <mat-option value="1">2021</mat-option>
                                <mat-option value="1">2022</mat-option>
                                <mat-option value="1">2023</mat-option>
                                <mat-option value="1">2024</mat-option>
                                <mat-option value="1">2025</mat-option>
                                <mat-option value="1">2026</mat-option>
                                <mat-option value="1">2027</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="form-group col-xs-12 col-md-6">
                            <mat-form-field class="full-width">
                              <input matInput placeholder="CVC">
                            </mat-form-field>
                          </div>
                        </div>
                      </form>
                    </div>
                  </mat-tab>
                  <mat-tab label="Depósito referenciado">
              
                  </mat-tab>
                </mat-tab-group>
                <div class="col-xs-12" style="padding-bottom:15px;"></div>
                <div class="col-xs-12" style="padding:0">
                  <div class="form-group col-xs-12 col-md-12">
                    <mat-checkbox style="padding-right:10px"
                                  id="pago_pendiente"
                                  name="pago_pendiente"
                                  [(ngModel)]="visita.pago_pendiente"
                                  #pago_pendiente="ngModel"
                                  value="1">
                      No hay pago
                    </mat-checkbox>
                    <mat-form-field *ngIf="visita.pago_pendiente">
                      <mat-select placeholder="Selecciona">
                        <mat-option value="Garantía">
                          GARANTIA
                        </mat-option>
                        <mat-option value="Asegurado">
                          ASEGURADO
                        </mat-option>
                        <mat-option value="Pendiente de Pago">
                          PENDIENTE DE PAGO
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-xs-12 col-md-12" style="margin-bottom:10px">
                    <mat-checkbox style="padding-right:10px"
                                  id="terminos_condiciones"
                                  name="terminos_condiciones"
                                  [(ngModel)]="visita.terminos_condiciones"
                                  #terminos_condiciones="ngModel" (change)="set_terminos($event)">
                      He leído y acepto los <span style="color:#E60000">terminos y condiciones</span>
                    </mat-checkbox>
                    <div *ngIf="terminos_y_condiciones" class="mat-input-subscript-wrapper mat-form-field-subscript-wrapper" style="margin-top: 1.34567892em; font-size: 85%;">
                      <div class="mat-error" role="alert">
                        Debes de aceptar <strong>terminos y condiciones</strong>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <span style="line-height: 24px; white-space: nowrap; font-weight: bold; font-size:14px; letter-spacing: .5px; font-family: Roboto,'Helvetica Neue',sans-serif;">
                      Requiere factura<br />
                    </span>
                    <mat-radio-group id="factura" name="factura" #factura="ngModel" [(ngModel)]="visita.factura">
                      <mat-radio-button value="1">Si</mat-radio-button>
                      <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- /.box -->
        </div>

        <div class="col-xs-12 text-center">
          <button class="pull-center btn btn-default btn-default-rojo">Guardar borrador</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <br class="visible-xs" />
          <br class="visible-xs" />
          <button type="submit" class="pull-center btn btn-default" (click)='verservicioForm.valid ? guardar_cliente() : validaciones(verservicioForm._directives)'>Crear Servicio</button><!--[disabled]="validform"-->
        </div>
      </div>

    </section>
    <!-- /.content -->
  </form>
</div>
