<div class="content-wrapper">
  <br class="visible-xs" />
  <br class="visible-xs" />
  <form #verservicioForm="ngForm">
    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Datos del cliente</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group col-xs-12">
                <br />
                <mat-radio-group id="tipo_persona" name="tipo_persona" #tipo_persona="ngModel" [(ngModel)]="cliente.tipo_persona">
                  <mat-radio-button value="Persona fisica">Persona fisica</mat-radio-button>
                  <mat-radio-button value="Persona moral">Persona moral</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4" *ngIf="cliente.tipo_persona != 'Persona moral'">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="nombre" name="nombre" [(ngModel)]="cliente.nombre" #nombre="ngModel" placeholder="Nombre(s)" required>
                  </mat-form-field>
                  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                       class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">
                      Nombre requerido requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4" *ngIf="cliente.tipo_persona == 'Persona moral'">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="nombre_comercial" name="nombre_comercial" [(ngModel)]="cliente.nombre_comercial" #nombre_comercial="ngModel" placeholder="Nombre comercial" required>
                  </mat-form-field>
                  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                       class="alert alert-danger">
                    <div *ngIf="nombre_comercial.errors.required">
                      Nombre comercial requerido requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4" *ngIf="cliente.tipo_persona != 'Persona moral'">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="paterno" name="paterno" [(ngModel)]="cliente.paterno" #paterno="ngModel" placeholder="Apellido paterno" required>
                  </mat-form-field>
                  <div *ngIf="paterno.invalid && (paterno.dirty || paterno.touched)"
                       class="alert alert-danger">
                    <div *ngIf="paterno.errors.required">
                      Apellido paterno requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4" *ngIf="cliente.tipo_persona != 'Persona moral'">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="materno" name="materno" [(ngModel)]="cliente.materno" #materno="ngModel" placeholder="Apellido materno">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-8" *ngIf="cliente.tipo_persona == 'Persona moral'">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="nombre_contacto" name="nombre_contacto" [(ngModel)]="cliente.nombre_contacto" #nombre_contacto="ngModel" placeholder="Nombre de contacto" required>
                  </mat-form-field>
                  <div *ngIf="nombre_contacto.invalid && (nombre.dirty || nombre.touched)"
                       class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">
                      Nombre de contacto requerido requerido.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="email" matInput id="email" name="email" [(ngModel)]="cliente.email" #email="ngModel" placeholder="Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
                  </mat-form-field>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)"
                       class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      Email requerido.
                    </div>
                    <div *ngIf="email.errors && email.errors.pattern">
                      El Email no es valido (ej. ejemplo@do.com)
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" [textMask]="{mask: mask_cp, guide: false}" matInput id="cp" name="cp" [(ngModel)]="direccion.cp" #cp="ngModel" (ngModelChange)="sepomex();" placeholder="CP" required>
                  </mat-form-field>
                  <div *ngIf="cp.invalid && (cp.dirty || cp.touched)"
                       class="alert alert-danger">
                    <div *ngIf="cp.errors.required">
                      C.P requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Estado" id="estado" name="estado" #estado="ngModel" [(ngModel)]="direccion.id_estado" (change)="getmunicipios()" required>
                      <mat-option *ngFor="let value of estados; trackBy: index;" [value]="value.id">
                        {{value.desc_estado | uppercase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="estado.invalid && (estado.dirty || estado.touched)"
                       class="alert alert-danger">
                    <div *ngIf="estado.errors.required">
                      Estado requerido.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Delegación / Municipio" id="municipio" name="municipio" #municipio="ngModel" [(ngModel)]="direccion.id_municipio">
                      <mat-option *ngFor="let value of municipios; trackBy: index;" [value]="value.id">
                        {{value.municipio | uppercase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)"
                       class="alert alert-danger">
                    <div *ngIf="municipio.errors.required">
                      Delegación / Municipio requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Colonia" id="colonia" name="colonia" #colonia="ngModel" [(ngModel)]="direccion.colonia" required>
                      <mat-option *ngFor="let value of localidades; trackBy: index;" [value]="value.id_localidad">
                        {{value.localidad | uppercase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="colonia.invalid && (colonia.dirty || colonia.touched)"
                       class="alert alert-danger">
                    <div *ngIf="colonia.errors.required">
                      Colonia requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <div class="col-md-4" style="padding-left:0; padding-right:1px;">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Tipo de calle" id="tipo_calle" name="tipo_calle" #tipo_calle="ngModel" [(ngModel)]="direccion.tipo_calle" required>
                        <mat-option value="Calle">
                          CALLE
                        </mat-option>
                        <mat-option value="Calle">
                          AV.
                        </mat-option>
                        <mat-option value="Calle">
                          CALLEJON
                        </mat-option>
                        <mat-option value="Calle">
                          BLVR.
                        </mat-option>
                        <mat-option value="Calle">
                          CERRADA
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-8" style="padding-right:0; padding-left:0;">
                    <mat-form-field class="full-width">
                      <input type="text" matInput id="calle_numero" name="calle_numero" [(ngModel)]="direccion.calle_numero" (ngModelChange)="validar_calle()" #calle_numero="ngModel" placeholder="Nombre calle" required>
                    </mat-form-field>
                    <div *ngIf="calle_numero.invalid && (calle_numero.dirty || calle_numero.touched)"
                         class="alert alert-danger">
                      <div *ngIf="calle_numero.errors.required">
                        Calle y número requerido.
                      </div>
                    </div>
                    <div *ngIf="_tipo_calle_direccion"
                         class="alert alert-danger">
                      El nombre de la calle no puede contener la palabra {{_nombre_calle}}.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="NumExt" name="NumExt" [(ngModel)]="direccion.NumExt" #NumExt="ngModel" placeholder="No. exterior" required>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="NumInt" name="NumInt" [(ngModel)]="direccion.NumInt" #NumInt="ngModel" placeholder="No. interior">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" [textMask]="{mask: mask_telefono, guide: false}" matInput id="telefono" name="telefono" [(ngModel)]="cliente.telefono" #telefono="ngModel" placeholder="Teléfono fijo" required>
                  </mat-form-field>
                  <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                       class="alert alert-danger">
                    <div *ngIf="telefono.errors.required">
                      Teléfono requerido.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" [textMask]="{mask: mask_telefono, guide: false}" matInput id="telefono_movil" name="telefono_movil" [(ngModel)]="cliente.telefono_movil" #telefono_movil="ngModel" placeholder="Teléfono celular" required>
                  </mat-form-field>
                  <div *ngIf="telefono_movil.invalid && (telefono_movil.dirty || telefono_movil.touched)"
                       class="alert alert-danger">
                    <div *ngIf="telefono_movil.errors.required">
                      Teléfono celular requerido.
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Referencias" id="referencias" name="referencias" [(ngModel)]="cliente.referencias" #referencias="ngModel" required></textarea>
                  </mat-form-field>
                  <div *ngIf="referencias.invalid && (referencias.dirty || referencias.touched)"
                       class="alert alert-danger">
                    <div *ngIf="referencias.errors.required">
                      Referencias requerido.
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Datos fiscales</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="razon_social" name="razon_social" [(ngModel)]="datosfiscales.razon_social" #razon_social="ngModel" placeholder="Razón social" required>
                  </mat-form-field>
                  <div *ngIf="razon_social.invalid && (razon_social.dirty || razon_social.touched)"
                       class="alert alert-danger">
                    <div *ngIf="razon_social.errors.required">
                      Razon social requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="rfc" name="rfc" [(ngModel)]="datosfiscales.rfc" #rfc="ngModel" placeholder="RFC" required>
                  </mat-form-field>
                  <div *ngIf="rfc.invalid && (rfc.dirty || rfc.touched)"
                       class="alert alert-danger">
                    <div *ngIf="rfc.errors.required">
                      RFC requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="emailfiscales" name="emailfiscales" [(ngModel)]="datosfiscales.email" #emailfiscales="ngModel" placeholder="Email" required>
                  </mat-form-field>
                  <div *ngIf="emailfiscales.invalid && (emailfiscales.dirty || emailfiscales.touched)"
                       class="alert alert-danger">
                    <div *ngIf="emailfiscales.errors.required">
                      Email requerido.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" [textMask]="{mask: mask_cp, guide: false}" matInput id="cp" name="cp" [(ngModel)]="datosfiscales.cp" #cp="ngModel" (ngModelChange)="sepomex_datos_fiscales();" placeholder="CP" required>
                  </mat-form-field>
                  <div *ngIf="cp.invalid && (cp.dirty || cp.touched)"
                       class="alert alert-danger">
                    <div *ngIf="cp.errors.required">
                      C.P requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Estado" id="estado" name="estado" #estado="ngModel" [(ngModel)]="datosfiscales.id_estado" (ngModelChange)="getmunicipios_datos_fiscales()" required>
                      <mat-option *ngFor="let value of estados_datos_fiscales; trackBy: index;" [value]="value.id">
                        {{value.desc_estado | uppercase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="estado.invalid && (estado.dirty || estado.touched)"
                       class="alert alert-danger">
                    <div *ngIf="estado.errors.required">
                      Estado requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Delegación / Municipio" id="municipio" name="municipio" #municipio="ngModel" [(ngModel)]="datosfiscales.id_municipio">
                      <mat-option *ngFor="let value of municipios_datos_fiscales; trackBy: index;" [value]="value.id">
                        {{value.municipio | uppercase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)"
                       class="alert alert-danger">
                    <div *ngIf="municipio.errors.required">
                      Delegación / Municipio requerido.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Colonia" id="colonia" name="colonia" #colonia="ngModel" [(ngModel)]="datosfiscales.colonia" required>
                      <mat-option *ngFor="let value of localidades_datos_fiscales; trackBy: index;" [value]="value.id_localidad">
                        {{value.localidad | uppercase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="colonia.invalid && (colonia.dirty || colonia.touched)"
                       class="alert alert-danger">
                    <div *ngIf="colonia.errors.required">
                      Colonia requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <div class="col-md-4" style="padding-left:0; padding-right:1px;">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Tipo de calle" id="tipo_calle" name="tipo_calle" #tipo_calle="ngModel" [(ngModel)]="direccion.tipo_calle" required>
                        <mat-option value="Calle">
                          CALLE
                        </mat-option>
                        <mat-option value="Calle">
                          AV.
                        </mat-option>
                        <mat-option value="Calle">
                          CALLEJON
                        </mat-option>
                        <mat-option value="Calle">
                          BLVR.
                        </mat-option>
                        <mat-option value="Calle">
                          CERRADA
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-8" style="padding-right:0; padding-left:0;">
                    <mat-form-field class="full-width">
                      <input type="text" matInput id="calle_numero" name="calle_numero" [(ngModel)]="datosfiscales.calle_numero" #calle_numero="ngModel" (ngModelChange)="validar_calle_datos_ficales()" placeholder="Calle" required>
                    </mat-form-field>
                    <div *ngIf="calle_numero.invalid && (calle_numero.dirty || calle_numero.touched)"
                         class="alert alert-danger">
                      <div *ngIf="calle_numero.errors.required">
                        Calle y número requerido.
                      </div>
                    </div>
                    <div *ngIf="_tipo_calle_datos_fiscales"
                         class="alert alert-danger">
                      El nombre de la calle no puede contener la palabra {{_nombre_calle_datos_fiscales}}.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="NumExt" name="NumExt" [(ngModel)]="datosfiscales.Ext_fact" #NumExt="ngModel" placeholder="No. exterior" required>
                  </mat-form-field>
                </div>

              </div>

              <div class="col-md-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="NumInt" name="NumInt" [(ngModel)]="datosfiscales.Int_fact" #NumInt="ngModel" placeholder="No. interior">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput [textMask]="{mask: mask_telefono, guide: false}" id="telefono" name="telefono" [(ngModel)]="datosfiscales.telefono_fact" #telefono="ngModel" placeholder="Teléfono fijo" required>
                  </mat-form-field>
                  <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                       class="alert alert-danger">
                    <div *ngIf="telefono.errors.required">
                      Teléfono requerido.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-12" style="text-align:right">
                <button type="submit" (click)="copiar_direccion()" class="pull-center btn btn-default btn-default-rojo" [disabled]="validform">
                  Copiar dirección del cliente
                </button>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Información de solicitud de servicio</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Tipo de servicio solicitado" id="id_tipo_servicio" name="id_tipo_servicio" #id_tipo_servicio="ngModel" [(ngModel)]="servicio.id_tipo_servicio" (change)="getproductos()" required>
                      <mat-option *ngFor="let value of tipo_servicio; trackBy: index;" [value]="value">
                        {{value.desc_tipo_servicio | uppercase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <label>Solicitado por</label><br />
                  <mat-radio-group id="id_solicitado_por" name="id_solicitado_por" #id_solicitado_por="ngModel" [(ngModel)]="servicio.id_solicitado_por" required>
                    <mat-radio-button value="1" (click)="ver_distribuidor(1);">Cliente directo</mat-radio-button><br />
                    <mat-radio-button value="2" (click)="ver_distribuidor(2);">Distribuidor autorizado</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="form-group col-md-4">
                  <label>Solicitud vía</label><br />
                  <mat-radio-group id="id_solicitud_via" name="id_solicitud_via" #id_solicitud_via="ngModel" [(ngModel)]="servicio.id_solicitud_via" required>
                    <mat-radio-button value="1">Teléfono</mat-radio-button>
                    <mat-radio-button value="2">Web</mat-radio-button><br />
                    <mat-radio-button value="3">Correo</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-xs-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <label></label><br />
                  <mat-checkbox class="example-margin" id="activar_credito" name="activar_credito" #activar_credito="ngModel" [(ngModel)]="servicio.activar_credito">Activar credito</mat-checkbox>
                </div>
                <div class="form-group col-md-4" [hidden]="mostrar_distribuidor">
                  <div>
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Distribuidor autorizado" id="id_distribuidor_autorizado" name="id_distribuidor_autorizado" #id_distribuidor_autorizado="ngModel" [(ngModel)]="servicio.id_distribuidor_autorizado" required>
                        <mat-option *ngFor="let value of distribuidor_servicio; trackBy: index;" [value]="value.id">
                          {{value.desc_distribuidor | uppercase}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group col-md-4">

                </div>
              </div>
              <div class="col-xs-12" style="padding:0;" [hidden]="mostrar_distribuidor">
                <div class="form-group col-md-4">

                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="contacto" name="contacto" [(ngModel)]="servicio.contacto" #contacto="ngModel" placeholder="Contacto" required>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">

                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-12" [hidden]="ver_productos">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Instalación o servicio</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12" style="margin-bottom:15px; padding:0;">
                <div class="input-group" style="padding:0;">
                  <div class="col-md-12">
                    <mat-form-field class="full-width">
                      <input matInput type="text" id="busqueda" name="busqueda" [(ngModel)]="text_busqueda" #busqueda="ngModel" placeholder="Buscar producto por: nombre, modelo">
                    </mat-form-field>
                  </div>
                  <span class="input-group-btn">
                    <button type="submit" class="pull-center btn btn-default btn-default-rojo" (click)="buscar()" [disabled]="preventAbuse">
                      {{ preventAbuse ? 'Buscando...' : 'Buscar' }}
                    </button>
                  </span>
                  <span class="input-group-btn">
                  </span>
                  <span class="input-group-btn">
                    <button type="button" class="pull-center btn btn-default btn-default-rojo" (click)="nuevo_producto()">Nuevo producto</button>
                  </span>
                </div>
              </div>
              <div class="col-xs-12" style="margin-bottom:15px; padding:0;">
                <div class="col-md-8">
                  <div class="example-container mat-elevation-z4" [hidden]="ver_nuevo_producto" *ngIf="dataSource.data.length > 0">
                    <mat-table #table [dataSource]="dataSource">

                      <!-- Checkbox Column -->
                      <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index">
                          <div class="col-xs-12" style="text-align:center; padding:0;">
                            <mat-checkbox (change)="set_productos($event, row, i)" [checked]="row.checked">
                            </mat-checkbox>
                          </div>
                        </mat-cell>
                      </ng-container>

                      <!-- Position Column -->
                      <ng-container matColumnDef="Modelo">
                        <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.modelo}} </mat-cell>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="SKU">
                        <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.sku}} </mat-cell>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="Tipo">
                        <mat-header-cell *matHeaderCellDef> Tipo de equipo </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.tipo}} </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;">
                      </mat-row>
                    </mat-table>
                  </div>
                  <div *ngIf="ver">
                    No hay productos con la busqueda <span style="color:#A5000D"> {{text_busqueda}}</span>
                  </div>
                  <div class="col-xs-12" style="padding:0;" [hidden]="!ver_nuevo_producto">
                    <div class="form-group col-md-4" style="padding-left:0;">
                      <mat-form-field class="full-width">
                        <mat-select placeholder="Categoria producto" id="id_categoria" name="id_categoria" #id_categoria="ngModel" [(ngModel)]="producto.id_categoria">
                          <mat-option *ngFor="let value of values; trackBy: index;" [value]="value">
                            {{ value.codigo | uppercase}} - {{ value.descripcion | uppercase}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-8" style="padding:0;">
                      <mat-form-field class="full-width">
                        <input type="text" matInput id="modelo" name="modelo" [(ngModel)]="producto.modelo" #modelo="ngModel" placeholder="Modelo" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="form-group col-md-12 text-right" style="padding:0;" [hidden]="!ver_nuevo_producto">
                    <button class="pull-center btn btn-default btn-default-rojo" (click)="regresar_busqueda()">Regresar</button>
                    &nbsp;&nbsp;
                    <br class="visible-xs" />
                    <br class="visible-xs" />
                    <button type="submit" class="pull-center btn btn-default" (click)="guardar_producto()">Guardar</button><!--[disabled]="validform"-->
                  </div>
                </div>

                <div class="col-md-4" *ngIf="value_productos.length > 0">
                  <label>Productos seleccionados</label><br />
                  <label *ngFor="let value of value_productos; trackBy: index;" class="col-xs-12">
                    <i class="fa fa-times-circle-o" aria-hidden="true" style="color:#A5000D" (click)="delete_producto(value.id_producto);"></i>
                    {{value.tipo}} - {{value.modelo}}
                  </label>
                </div>
              </div>

              <div class="col-xs-12" style="padding-bottom:15px">
                <mat-form-field class="full-width">
                  <textarea matInput id="descripcion_actividades" name="descripcion_actividades" [(ngModel)]="servicio.descripcion_actividades" #descripcion_actividades="ngModel" required placeholder="Reporte del cliente"></textarea>
                </mat-form-field>
                <div *ngIf="descripcion_actividades.invalid && (descripcion_actividades.dirty || descripcion_actividades.touched)" class="alert alert-danger">
                  <div>
                    Descripción de actividades requerido.
                  </div>
                </div>
              </div>

              <!--<div [hidden]="valid_tipo_taller">
                <div class="col-xs-12" style="padding-bottom:15px">
                  <label>Dirección de instalación</label>
                  <mat-divider></mat-divider>
                  <br />
                  <form #registroForm="ngForm">
                    <div class="col-xs-12" style="padding:0;">
                      <div class="form-group col-md-4" style="padding-left:0;">
                        <mat-form-field class="full-width">
                          <input type="text" [textMask]="{mask: mask_cp, guide: false}" matInput id="cp" name="cp" [(ngModel)]="direccion_servicio.cp" #cp="ngModel" (ngModelChange)="sepomex_servicios();" placeholder="CP" required>
                        </mat-form-field>
                        <div *ngIf="cp.invalid && (cp.dirty || cp.touched)"
                             class="alert alert-danger">
                          <div *ngIf="cp.errors.required">
                            C.P requerido.
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <mat-form-field class="full-width">
                          <mat-select placeholder="Estado" id="estado" name="estado" #estado="ngModel" [(ngModel)]="direccion_servicio.id_estado" (change)="getmunicipios_direccion_servicio()" required>
                            <mat-option *ngFor="let value of estados_direccion_servicios; trackBy: index;" [value]="value.id">
                              {{value.desc_estado}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="estado.invalid && (estado.dirty || estado.touched)"
                             class="alert alert-danger">
                          <div *ngIf="estado.errors.required">
                            Estado requerido.
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4" style="padding-right:0;">
                        <mat-form-field class="full-width">
                          <mat-select placeholder="Delegación / Municipio" id="municipio" name="municipio" #municipio="ngModel" [(ngModel)]="direccion_servicio.id_municipio">
                            <mat-option *ngFor="let value of municipios_direccion_servicios; trackBy: index;" [value]="value.id">
                              {{value.municipio}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)"
                             class="alert alert-danger">
                          <div *ngIf="municipio.errors.required">
                            Delegación / Municipio requerido.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12" style="padding:0;">
                      <div class="form-group col-md-4" style="padding-left:0;">
                        <mat-form-field class="full-width">
                          <mat-select placeholder="Colonia" id="colonia" name="colonia" #colonia="ngModel" [(ngModel)]="direccion_servicio.colonia" required>
                            <mat-option *ngFor="let value of localidades_direccion_servicios; trackBy: index;" [value]="value.id_localidad">
                              {{value.localidad}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="colonia.invalid && (colonia.dirty || colonia.touched)"
                             class="alert alert-danger">
                          <div *ngIf="colonia.errors.required">
                            Colonia requerido.
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <div class="col-md-4" style="padding-left:0; padding-right:1px;">
                          <mat-form-field class="full-width">
                            <mat-select placeholder="Tipo de calle" id="tipo_calle" name="tipo_calle" #tipo_calle="ngModel" [(ngModel)]="direccion.tipo_calle" required>
                              <mat-option value="Calle">
                                Calle
                              </mat-option>
                              <mat-option value="Calle">
                                Av.
                              </mat-option>
                              <mat-option value="Calle">
                                Callejon
                              </mat-option>
                              <mat-option value="Calle">
                                Blvr.
                              </mat-option>
                              <mat-option value="Calle">
                                Cerrada
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-8" style="padding-right:0; padding-left:0;">
                          <mat-form-field class="full-width">
                            <input type="text" matInput id="calle_numero" name="calle_numero" [(ngModel)]="direccion_servicio.calle_numero" #calle_numero="ngModel" (ngModelChange)="validar_calle_servicio()" placeholder="Calle" required>
                          </mat-form-field>
                          <div *ngIf="calle_numero.invalid && (calle_numero.dirty || calle_numero.touched)"
                               class="alert alert-danger">
                            <div *ngIf="calle_numero.errors.required">
                              Calle y número requerido.
                            </div>
                          </div>
                          <div *ngIf="_tipo_calle_direccion_servicios"
                               class="alert alert-danger">
                            El nombre de la calle no puede contener la palabra {{_nombre_calle_direccion_servicio}}.
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4" style="padding-right:0">
                        <mat-form-field class="full-width">
                          <input type="text" matInput id="NumExt" name="NumExt" [(ngModel)]="direccion_servicio.NumExt" #NumExt="ngModel" placeholder="No. exterior" required>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="col-xs-12" style="padding:0;">
                      <div class="form-group col-md-4" style="padding-left:0;">
                        <mat-form-field class="full-width">
                          <input type="text" matInput id="NumInt" name="NumInt" [(ngModel)]="direccion_servicio.NumInt" #NumInt="ngModel" placeholder="No. interior">
                        </mat-form-field>
                      </div>
                      <div class="form-group col-md-4">
                        <mat-form-field class="full-width">
                          <input type="text" matInput [textMask]="{mask: mask_telefono, guide: false}" id="telefono" name="telefono" [(ngModel)]="direccion_servicio.telefono" #telefono="ngModel" placeholder="Teléfono fijo" required>
                        </mat-form-field>
                        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                             class="alert alert-danger">
                          <div *ngIf="telefono.errors.required">
                            Teléfono requerido.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-12" style="text-align:right">
                      <button type="submit" (click)="copiar_direccion_servicio()" class="pull-center btn btn-default btn-default-rojo" [disabled]="validform">
                        Copiar dirección del cliente
                      </button>
                    </div>
                  </form>

                </div>
              </div>-->

            </div>
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-12" [hidden]="valid_tipo_taller">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Agenda</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12" style="padding:0;">
                <div class="col-xs-12" style="text-align:left; margin-bottom:10px;">
                  <button type="button" class="pull-center btn btn-default" id="sendEmail" (click)="openAgenda($event);">
                    Agendar cita
                  </button>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input [textMask]="{mask: mask, guide: false}" type="text" matInput name="fecha_visita" #fecha_visita="ngModel" disabled [(ngModel)]="visita.fecha_visita" placeholder="Fecha">
                    <mat-icon matSuffix><i class="fa fa-calendar" aria-hidden="true"></i></mat-icon>
                  </mat-form-field>
                  <div *ngIf="fecha_visita.invalid && (fecha_visita.dirty || fecha_visita.touched)" class="alert alert-danger">
                    <div>
                      Fecha requerida.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input id="id_tecnico" type="text" matInput name="id_tecnico" #id_tecnico="ngModel" [(ngModel)]="txt_tecnico" disabled placeholder="Técnico">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input matInput id="hora" type="text" name="hora" #hora="ngModel" [(ngModel)]="visita.hora" disabled placeholder="Hora">
                  </mat-form-field>
                  <div *ngIf="hora.invalid && (hora.dirty || hora.touched)" class="alert alert-danger">
                    <div>
                      Hora requerida.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Pagos</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12" style="padding:0">
                <mat-tab-group class="demo-tab-group">
                  <mat-tab label="Pago con tarjeta">
                    <div class="demo-tab-content">
                      <form #EquiposForm="ngForm">
                        <div class="col-xs-12" style="padding:0">
                          <div class="form-group col-xs-12 col-md-12">
                            <br />
                            <div class="col-md-6" style="padding:0;">
                              <label>Concepto</label><br />
                              <span>{{concepto}}</span><br /><br />
                            </div>
                            <div class="col-md-6" style="padding:0;">
                              <label>Cantidad</label><br />
                              <span style="color:#4B91E2">${{categoria_servicio_cantidad}}</span><br /><br />
                            </div>
                            <br />
                            <br />
                            <br />
                            <mat-divider></mat-divider>
                          </div>

                          <div class="form-group col-xs-12 col-md-12">
                            <mat-form-field class="full-width">
                              <input matInput placeholder="Número de tarjeta de credito">
                            </mat-form-field>
                          </div>

                          <div class="form-group col-xs-12 col-md-6">
                            <mat-form-field class="full-width">
                              <input matInput placeholder="Nombre del tarjetahabiente">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-xs-12 col-md-6">
                            <mat-form-field class="full-width">
                              <input matInput placeholder="Mes de expiración">
                            </mat-form-field>
                          </div>

                          <div class="form-group col-xs-12 col-md-6">
                            <mat-form-field class="full-width">
                              <mat-select placeholder="Año de expiración">
                                <mat-option value="1">2018</mat-option>
                                <mat-option value="1">2019</mat-option>
                                <mat-option value="1">2020</mat-option>
                                <mat-option value="1">2021</mat-option>
                                <mat-option value="1">2022</mat-option>
                                <mat-option value="1">2023</mat-option>
                                <mat-option value="1">2024</mat-option>
                                <mat-option value="1">2025</mat-option>
                                <mat-option value="1">2026</mat-option>
                                <mat-option value="1">2027</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="form-group col-xs-12 col-md-6">
                            <mat-form-field class="full-width">
                              <input matInput placeholder="CVC">
                            </mat-form-field>
                          </div>
                        </div>
                      </form>
                    </div>
                  </mat-tab>
                  <mat-tab label="Depósito referenciado">
                    <!--<div class="demo-tab-content">
                      <form #EquiposForm="ngForm">
                        <div class="col-xs-12" style="padding:0">
                          <div class="form-group col-xs-12 col-md-12">
                            <div class="col-md-6" style="padding:0;">
                              <label>Concepto</label><br />
                              <span>Servicio de reparación</span><br /><br />
                            </div>
                            <div class="col-md-6" style="padding:0;">
                              <label>Cantidad</label><br />
                              <span style="color:#4B91E2">5,000</span><br /><br />
                            </div>
                            <br />
                            <br />
                            <br />
                            <mat-divider></mat-divider>
                          </div>

                          <div class="form-group col-md-4">
                            <mat-form-field class="full-width">
                              <input type="text" name="fecha_deposito" matInput placeholder="Fecha de deposito" #fecha_deposito="ngModel" [(ngModel)]="txtfecha_deposito">
                              <mat-icon matSuffix><i class="fa fa-calendar" aria-hidden="true"></i></mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field class="full-width">
                              <input matInput id="no_operacion" type="text" name="no_operacion" #no_operacion="ngModel" [(ngModel)]="txtno_operacion" placeholder="Número de operación">
                            </mat-form-field>
                          </div>
                          <div class="form-group col-md-4">
                            <mat-form-field class="full-width">
                              <input matInput id="comprobante" type="text" name="comprobante" #comprobante="ngModel" [(ngModel)]="txtcomprobante" placeholder="Comprobante">
                              <mat-icon matSuffix><i class="fa fa-upload" aria-hidden="true"></i></mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                      </form>
                    </div>-->
                  </mat-tab>
                </mat-tab-group>
                <div class="col-xs-12" style="padding-bottom:15px;"></div>
                <div class="col-xs-12" style="padding:0">
                  <div class="form-group col-xs-12 col-md-12">
                    <mat-checkbox style="padding-right:10px"
                                  id="pago_pendiente"
                                  name="pago_pendiente"
                                  [(ngModel)]="visita.pago_pendiente"
                                  #pago_pendiente="ngModel"
                                  value="1">
                      No hay pago
                    </mat-checkbox>
                    <mat-form-field *ngIf="chk_no_pago">
                      <mat-select placeholder="Selecciona">
                        <mat-option value="Garantía">
                          GARANTIA
                        </mat-option>
                        <mat-option value="Asegurado">
                          ASEGURADO
                        </mat-option>
                        <mat-option value="Pendiente de Pago">
                          PENDIENTE DE PAGO
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-xs-12 col-md-12" style="margin-bottom:10px">
                    <mat-checkbox style="padding-right:10px"
                                  id="terminos_condiciones"
                                  name="terminos_condiciones"
                                  [(ngModel)]="visita.terminos_condiciones"
                                  #terminos_condiciones="ngModel"
                                  value="1">
                      He leído y acepto los <span style="color:#E60000">terminos y condiciones</span>
                    </mat-checkbox>
                    <div *ngIf="terminos_condiciones.invalid && (terminos_condiciones.dirty || terminos_condiciones.touched)"
                         class="alert alert-danger">
                      <div>
                        Debes aceptar los términos y condiciones.
                      </div>
                    </div>
                  </div>

                  <!--<div class="form-group col-xs-12 col-md-12">
                    <mat-checkbox style="padding-right:10px"
                                  id="factura"
                                  name="factura"
                                  [(ngModel)]="visita.factura"
                                  #factura="ngModel"
                                  value="1">
                      Requiere factura
                    </mat-checkbox>
                  </div>-->

                  <div class="form-group col-md-12">
                    <span style="line-height: 24px; white-space: nowrap; font-weight: bold; font-size:14px; letter-spacing: .5px; font-family: Roboto,'Helvetica Neue',sans-serif;">
                      Requiere factura<br />
                    </span>
                    <mat-radio-group id="factura" name="factura" #factura="ngModel" [(ngModel)]="visita.factura" required>
                      <mat-radio-button value="1">Si</mat-radio-button>
                      <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="factura.invalid && (factura.dirty || factura.touched)"
                         class="alert alert-danger">
                      <div *ngIf="factura.errors.required">
                        Requiere factura
                      </div>
                    </div>
                  </div>
                </div>

                <!--<div class="col-xs-12" *ngIf="visita.factura">
                  <div class="col-xs-12" style="padding:0;">
                    <div class="col-xs-12" style="padding-left:0; padding-right:0; padding-bottom:10px">
                      <mat-divider></mat-divider>
                    </div>
                    <div class="form-group col-md-4">
                      <mat-form-field class="full-width">
                        <input matInput id="razonsocialfactura" type="text" name="razonsocialfactura" #razonsocialfactura="ngModel" [(ngModel)]="txtrazonsocialfactura" placeholder="Razón social">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                      <mat-form-field class="full-width">
                        <input matInput id="rfcfactura" type="text" name="rfcfactura" #rfcfactura="ngModel" [(ngModel)]="txtrfcfactura" placeholder="RFC">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                      <mat-form-field class="full-width">
                        <input matInput id="emailfactura" type="text" name="emailfactura" #emailfactura="ngModel" [(ngModel)]="txtemailfactura" placeholder="Email">
                      </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                      <mat-form-field class="full-width">
                        <input matInput id="callefactura" type="text" name="callefactura" #callefactura="ngModel" [(ngModel)]="txtcallefactura" placeholder="Calle y número">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                      <mat-form-field class="full-width">
                        <input matInput id="cpfactura" type="text" name="cpfactura" #cpfactura="ngModel" [(ngModel)]="txtcpfactura" placeholder="C.P">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                      <mat-form-field class="full-width">
                        <mat-select placeholder="Estado" id="factura_estado" name="factura_estado" #factura_estado="ngModel" [(ngModel)]="ddlfactura_estado" (change)="getfacturamunicipios()">
                          <mat-option *ngFor="let value of estadosFactura; trackBy: index;" [value]="value.id">
                            {{value.desc_estado}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                      <mat-form-field class="full-width">
                        <mat-select placeholder="Delegación / Municipio" id="factura_municipio" name="factura_municipio" #factura_municipio="ngModel" [(ngModel)]="ddlfactura_municipio">
                          <mat-option *ngFor="let value of municipiosfactura; trackBy: index;" [value]="value.id">
                            {{value.municipio}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                      <mat-form-field class="full-width">
                        <input matInput id="coloniafactura" type="text" name="coloniafactura" #coloniafactura="ngModel" [(ngModel)]="txtcoloniafactura" placeholder="Colonia">
                      </mat-form-field>
                    </div>
                  </div>
                </div>-->
              </div>
            </div>

          </div>
          <!-- /.box -->
        </div>

        <div class="col-xs-12 text-center">
          <button class="pull-center btn btn-default btn-default-rojo">Guardar borrador</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <br class="visible-xs" />
          <br class="visible-xs" />
          <button type="submit" class="pull-center btn btn-default" (click)="guardar_cliente();">Crear Servicio</button><!--[disabled]="validform"-->
        </div>
      </div>

    </section>
    <!-- /.content -->
  </form>
</div>
