<div class="content-wrapper">
  <br class="visible-xs" />
  <br class="visible-xs" />
  <section class="content">
    <div class="row">
      <form #cambiarForm="ngForm">
        <div class="col-md-12">
          <h2>Nuevo servicio</h2>
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Datos del cliente</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12">
                <div class="col-xs-12" style="margin-bottom:13px"></div>
                <div class="form-group col-xs-12 col-md-4">
                  <label *ngIf="detalle.nombre_comercial !=''">Nombre comercial</label>
                  <label *ngIf="detalle.nombre !=''">Nombre (s)</label><br />
                  <span *ngIf="detalle.nombre_comercial !=''">{{detalle.nombre_comercial}}</span>
                  <span *ngIf="detalle.nombre !=''">{{detalle.nombre}}</span><br /><br />
                  <label>Email</label><br />
                  <span>{{detalle.email}}</span><br /><br />
                  <label>Estado</label><br />
                  <span>{{detalle_direccion.estado}}</span><br /><br />
                  <label>Teléfono fijo</label><br />
                  <span>{{detalle.telefono}}</span><br /><br />
                </div>
                <div class="form-group col-xs-12 col-md-4">
                  <label *ngIf="detalle.nombre_comercial !=''">Nombre de contacto</label>
                  <label *ngIf="detalle.nombre !=''">Apellido paterno</label><br />
                  <span *ngIf="detalle.nombre_comercial !=''">{{detalle.nombre_contacto}}</span>
                  <span *ngIf="detalle.nombre !=''">{{detalle.paterno}}</span><br /><br />
                  <label>Calle y número</label><br />
                  <span>{{detalle_direccion.calle_numero}}</span><br /><br />
                  <label>Delegación / municipio</label><br />
                  <span>{{detalle_direccion.municipio}}</span><br /><br />
                  <label>Teléfono celular</label><br />
                  <span>{{detalle.telefono_movil}}</span><br /><br />
                </div>
                <div class="form-group col-xs-12 col-md-4">
                  <label *ngIf="detalle.nombre !=''">Apellido materno</label><br *ngIf="detalle.nombre !=''" />
                  <span *ngIf="detalle.nombre !=''">{{detalle.materno}}</span><br *ngIf="detalle.nombre !=''" /><br *ngIf="detalle.nombre !=''" />
                  <label>CP</label><br />
                  <span>{{detalle_direccion.cp}}</span><br /><br />
                  <label>Colonia</label><br />
                  <span>{{detalle_direccion.colonia}}</span><br /><br />
                </div>
                <div class="col-xs-12">
                  <label>Referencias</label><br />
                  <span>{{detalle.referencias}}</span><br /><br />
                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </form>

      <form #cambiarForm="ngForm"></form>
      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title negritas">Información de solicitud de servicio</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-xs-12" style="padding:0;">
              <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                  <mat-select placeholder="Tipo de servicio solicitado" name="tipo_servicio" #tipo_servicio="ngModel" [(ngModel)]="ddltipo_servicio" (change)="getproductos(); validacion_tipo(); getcategoriaservicio();" [appFocus]="!valid_tipo" required>
                    <mat-option *ngFor="let value of tiposervicio; trackBy: index;" [value]="value">
                      {{value.desc_tipo_servicio}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="tipo_servicio.invalid && (tipo_servicio.dirty || tipo_servicio.touched) || !valid_tipo" class="alert alert-danger">
                  <div>
                    Tipo de servicio solicitado requerido.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Solicitado por</label><br />
                <mat-radio-group id="solicitado" name="solicitado" #solicitado="ngModel" [(ngModel)]="rdsolicitado" (click)="validacion_solicitado_por()" required>
                  <mat-radio-button value="1" (click)="ver_distribuidor(1);">Cliente directo</mat-radio-button><br />
                  <mat-radio-button value="2" (click)="ver_distribuidor(2);">Distribuidor autorizado</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="!valid_solicitado_por" class="alert alert-danger">
                  <div>
                    Solicitado por requerido.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Solicitud vía</label><br />
                <mat-radio-group id="solicitudvia" name="solicitudvia" #solicitudvia="ngModel" (ngModelChange)="validacion_via();" [(ngModel)]="rdsolicitudvia" required>
                  <mat-radio-button value="1">Teléfono</mat-radio-button>
                  <mat-radio-button value="2">Web</mat-radio-button><br />
                  <mat-radio-button value="3">Correo</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="!valid_solicitado_via" class="alert alert-danger">
                  <div>
                    Solicitud vía requerido.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12" style="padding:0;">
              <div class="form-group col-md-4">
                <label></label><br />
                <mat-checkbox class="example-margin" [(ngModel)]="activarcredito">Activar credito</mat-checkbox>
                <!--<mat-checkbox id="actividad"
                              name="actividad"
                              [(ngModel)]="activarcredito"
                              #actividad="ngModel"
                              value="1"
                              (change)="check($event, 1)">
                  Activar credito
                </mat-checkbox>-->
                <section [hidden]="true">
                  <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput [matAutocomplete]="auto" [formControl]="myControl" placeholder="Distribuidor" value="Sushi">
                      <!--<input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.desc_distribuidor">
                          {{ option.desc_distribuidor }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
                </section>
              </div>
              <div class="form-group col-md-4">
                <div [hidden]="!mostrar_distribuidor">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Distribuidor autorizado" id="distribuidor_autorizado" name="distribuidor_autorizado" #distribuidor_autorizado="ngModel" [(ngModel)]="ddldistribuidor_autorizado" (change)="validacion_ddl_autorizacion()" [appFocus]="!valid_autorizao" required>
                      <mat-option *ngFor="let value of distribuidorservicio; trackBy: index;" [value]="value.id">
                        {{value.desc_distribuidor}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="distribuidor_autorizado.invalid && (distribuidor_autorizado.dirty || distribuidor_autorizado.touched) || !valid_autorizao"
                       class="alert alert-danger">
                    <div>
                      Distribuidor autorizado requerido.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">

              </div>
            </div>
            <div class="col-xs-12" style="padding:0;" [hidden]="!mostrar_distribuidor">
              <div class="form-group col-md-4">

              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                  <input type="text" matInput id="contacto" name="contacto" [(ngModel)]="txtcontacto" #contacto="ngModel" (ngModelChange)="validacion_contacto()" [appFocus]="!valid_contacto" placeholder="Contacto" required>
                </mat-form-field>
                <div *ngIf="contacto.invalid && (contacto.dirty || contacto.touched) || !valid_contacto"
                     class="alert alert-danger">
                  <div>
                    Contacto requerido.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">

              </div>
            </div>
          </div>
        </div>
        <!-- /.box -->
      </div>

      <div class="col-md-12" [hidden]="productos">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title negritas">Instalción o servicio</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-xs-12" style="margin-bottom:15px">
              <div class="example-container mat-elevation-z4">
                <mat-table #table [dataSource]="dataSource">

                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef>
                      <!--<mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>-->
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index">
                      <div class="col-xs-12" style="text-align:center; padding:0;">
                        <mat-checkbox (change)="set_productos($event, row, i)" [checked]="row.checked">
                        </mat-checkbox>
                        <!--<mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>-->
                      </div>
                    </mat-cell>
                  </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="Modelo">
                    <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.modelo}} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="SKU">
                    <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.sku}} </mat-cell>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="Tipo">
                    <mat-header-cell *matHeaderCellDef> Tipo de equipo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tipo_equipo}} </mat-cell>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="Garantia">
                    <mat-header-cell *matHeaderCellDef> Garantía </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.garantia}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Poliza">
                    <mat-header-cell *matHeaderCellDef> Póliza </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.poliza}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Estatus">
                    <mat-header-cell *matHeaderCellDef> Estatus </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.estatus}} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
              </div>
            </div>

            <div class="col-xs-12" style="padding-bottom:15px">
              <mat-form-field class="full-width">
                <textarea matInput id="descripcion_actividades" name="descripcion_actividades" [(ngModel)]="txtdescripcion_actividades" #descripcion_actividades="ngModel" [appFocus]="!valid_descripcion_actividades" required (ngModelChange)="validacion_descripcion_actividades()" placeholder="Reporte del cliente"></textarea>
              </mat-form-field>
              <div *ngIf="descripcion_actividades.invalid && (descripcion_actividades.dirty || descripcion_actividades.touched) || !valid_descripcion_actividades" class="alert alert-danger">
                <div>
                  Descripción de actividades requerido.
                </div>
              </div>
            </div>
            <div [hidden]="valid_tipo_taller">
              <!--<div class="col-xs-12 col-md-4" style="padding-bottom:15px;" *ngIf="ddltipo_servicio.id != 4 && ddltipo_servicio.id != 5">
                <mat-form-field class="full-width">
                  <mat-select placeholder="Categoría del servicio" id="categoria_servicio" name="categoria_servicio" #categoria_servicio="ngModel" [(ngModel)]="ddlcategoria_servicio" (ngModelChange)="validacion_categoria_servicio()" [appFocus]="!valid_categoria_servicio" required>
                    <mat-option *ngFor="let value of categoriaservicio; trackBy: index;" [value]="value.id">
                      {{value.desc_categoria_servicio}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="categoria_servicio.invalid && (categoria_servicio.dirty || categoria_servicio.touched) || !valid_categoria_servicio" class="alert alert-danger">
                  <div>
                    Categoría del servicio requerido.
                  </div>
                </div>                
              </div>-->             
              
              <div class="col-xs-12" style="padding-bottom:15px;">
                <label>Direcciones de instalción</label>

                <div class="example-container mat-elevation-z4">
                  <mat-table #table [dataSource]="dataSource_direccion">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                      <mat-header-cell *matHeaderCellDef>
                        <!--<mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>-->
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <div class="col-xs-12" style="text-align:center; padding:0;">
                          <mat-radio-group id="test" name="test" style="padding:0 50% 0 30%">
                            <mat-radio-button value="row" (click)="$event ? direccion(row) : null"></mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </mat-cell>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="Calle">
                      <mat-header-cell *matHeaderCellDef> Calle y número </mat-header-cell>
                      <mat-cell *matCellDef="let element"><a style="color:inherit" title="{{element.calle}}">{{element.calle | slice:0:20 }}<span *ngIf="element.calle.length > 20">...</span></a> </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Colonia">
                      <mat-header-cell *matHeaderCellDef> Colónia </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.colonia}} </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="Estado">
                      <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="Municipio">
                      <mat-header-cell *matHeaderCellDef> Delegacion y/o municipio </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.municipio}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="CP">
                      <mat-header-cell *matHeaderCellDef> C.P </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.cp}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns_direccion"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns_direccion;">
                    </mat-row>
                  </mat-table>
                </div>
              </div>
              <div class="col-xs-12" style="padding-bottom:15px">
                <label>Agregar dirección</label>
                <mat-divider></mat-divider>
                <br />
                <form #registroForm="ngForm">
                  <div class="form-group col-xs-12 col-md-4" style="padding-left:0">
                    <mat-form-field class="full-width">
                      <input matInput id="calle_numero" type="text" name="calle_numero" #calle_numero="ngModel" [(ngModel)]="txtcalle_numero" placeholder="Calle y número">
                    </mat-form-field>
                  </div>

                  <div class="form-group col-xs-12 col-md-4">
                    <mat-form-field class="full-width">
                      <input matInput id="cp" type="text" name="cp" #cp="ngModel" [(ngModel)]="txtcp" placeholder="C.P">
                    </mat-form-field>
                  </div>

                  <div class="form-group col-xs-12 col-md-4" style="padding-right:0">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Estado" id="estado" name="estado" #estado="ngModel" [(ngModel)]="ddlestado" (change)="getmunicipios()">
                        <mat-option *ngFor="let value of estados; trackBy: index;" [value]="value.id">
                          {{value.desc_estado}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-xs-12 col-md-4" style="padding-left:0">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Delegación / Municipio" id="municipio" name="municipio" #municipio="ngModel" [(ngModel)]="ddlmunicipio">
                        <mat-option *ngFor="let value of municipios; trackBy: index;" [value]="value.id">
                          {{value.municipio}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-xs-12 col-md-4">
                    <mat-form-field class="full-width">
                      <input matInput id="colonia" type="text" name="colonia" #colonia="ngModel" [(ngModel)]="txtcolonia" placeholder="Cólonia">
                    </mat-form-field>
                  </div>

                  <div class="form-group col-xs-12 col-md-4" style="padding-right:0;">
                    <mat-form-field class="full-width">
                      <input matInput [textMask]="{mask: mask_telefono, guide: false}" id="telefono" type="text" name="telefono" #telefono="ngModel" [(ngModel)]="txttelefono" placeholder="Télefono">
                    </mat-form-field>
                  </div>

                  <div class="col-xs-12 text-right" style="padding:0;">
                    <button type="submit" class="pull-center btn btn-default btn-default-rojo" (click)="guardar_direccion($event); registroForm.resetForm({})">Agregar</button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
        <!-- /.box -->
      </div>

      <div class="col-md-12" [hidden]="valid_tipo_taller">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title negritas">Agenda</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-xs-12">
              <div class="col-xs-12" style="text-align:left; margin-bottom:10px;">
                <button type="button" class="pull-center btn btn-default" id="sendEmail" (click)="openAgenda($event);">
                  Agendar cita
                </button>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                  <input [textMask]="{mask: mask, guide: false}" type="text" matInput name="fecha_cita" #fecha_cita="ngModel" disabled [(ngModel)]="txtfecha_cita" [appFocus]="!valid_fecha_visita" (ngModelChange)="Validacion_fecha_visita()" placeholder="Fecha">
                  <mat-icon matSuffix><i class="fa fa-calendar" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
                <div *ngIf="fecha_cita.invalid && (fecha_cita.dirty || fecha_cita.touched) || !valid_fecha_visita" class="alert alert-danger">
                  <div>
                    Fecha requerida.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                  <input id="tecnico" type="text" matInput name="tecnico" #tecnico="ngModel" [(ngModel)]="txttecnico_servicio" disabled [appFocus]="!valid_tecnico_visita" (ngModelChange)="validacion_tecnico_visita()" placeholder="Técnico">
                </mat-form-field>
                <!--<div *ngIf="tecnico.invalid && (tecnico.dirty || tecnico.touched) || !valid_tecnico_visita" class="alert alert-danger">
                  <div>
                    Técnico requerido.
                  </div>
                </div>-->
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                  <input matInput id="hora_servicio" type="text" name="hora_servicio" #hora_servicio="ngModel" [(ngModel)]="txthora_servicio" disabled [appFocus]="!valid_hora_visita" (ngModelChange)="validacion_hora_visita()" placeholder="Hora">
                </mat-form-field>
                <div *ngIf="hora_servicio.invalid && (hora_servicio.dirty || hora_servicio.touched) || !valid_hora_visita" class="alert alert-danger">
                  <div>
                    Hora requerida.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box -->
      </div>

      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title negritas">Pagos</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-xs-12" style="padding:0">
              <mat-tab-group class="demo-tab-group">
                <mat-tab label="Pago con tarjeta">
                  <div class="demo-tab-content">
                    <form #EquiposForm="ngForm">
                      <div class="col-xs-12" style="padding:0">
                        <div class="form-group col-xs-12 col-md-12">
                          <div class="col-md-6" style="padding:0;">
                            <label>Concepto</label><br />
                            <span>{{concepto}} {{categoria_servicio_texto}}</span><br /><br />
                          </div>
                          <div class="col-md-6" style="padding:0;">
                            <label>Cantidad</label><br />
                            <span style="color:#4B91E2">${{categoria_servicio_cantidad}}</span><br /><br />
                          </div>
                          <br />
                          <br />
                          <br />
                          <mat-divider></mat-divider>
                        </div>

                        <div class="form-group col-xs-12 col-md-12">
                          <mat-form-field class="full-width">
                            <input matInput id="no_tarjeta" type="text" name="no_tarjeta" #no_tarjeta="ngModel" [(ngModel)]="txtno_tarjeta" placeholder="Número de tarjeta de credito">
                          </mat-form-field>
                          <!--<div *ngIf="tipoproducto.invalid && (tipoproducto.dirty || tipoproducto.touched)"
                               class="alert alert-danger">
                            <div *ngIf="tipoproducto.errors.required">
                              Tipo de producto requerido.
                            </div>
                          </div>-->
                        </div>

                        <div class="form-group col-xs-12 col-md-6">
                          <mat-form-field class="full-width">
                            <input matInput id="nombre_tarjeta" type="text" name="nombre_tarjeta" #nombre_tarjeta="ngModel" [(ngModel)]="txtnombre_tarjeta" placeholder="Nombre del tarjetahabiente">
                          </mat-form-field>
                          <!--<div *ngIf="modelo.invalid && (modelo.dirty || modelo.touched)"
                               class="alert alert-danger">
                            <div *ngIf="modelo.errors.required">
                              Modelo requerido.
                            </div>
                          </div>-->
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                          <mat-form-field class="full-width">
                            <input matInput id="mes_tarjeta" type="text" name="mes_tarjeta" #mes_tarjeta="ngModel" [(ngModel)]="txtmes_tarjeta" placeholder="Mes de expiración">
                          </mat-form-field>
                          <!--<div *ngIf="tipoproducto.invalid && (tipoproducto.dirty || tipoproducto.touched)"
                               class="alert alert-danger">
                            <div *ngIf="tipoproducto.errors.required">
                              Tipo de producto requerido.
                            </div>
                          </div>-->
                        </div>

                        <div class="form-group col-xs-12 col-md-6">
                          <mat-form-field class="full-width">
                            <mat-select placeholder="Año de expiración" name="ano_tarjeta" #ano_tarjeta="ngModel" [(ngModel)]="ddlano_tarjeta">
                              <mat-option value="1">2018</mat-option>
                              <mat-option value="1">2019</mat-option>
                              <mat-option value="1">2020</mat-option>
                              <mat-option value="1">2021</mat-option>
                              <mat-option value="1">2022</mat-option>
                              <mat-option value="1">2023</mat-option>
                              <mat-option value="1">2024</mat-option>
                              <mat-option value="1">2025</mat-option>
                              <mat-option value="1">2026</mat-option>
                              <mat-option value="1">2027</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <!--<div *ngIf="modelo.invalid && (modelo.dirty || modelo.touched)"
                               class="alert alert-danger">
                            <div *ngIf="modelo.errors.required">
                              Modelo requerido.
                            </div>
                          </div>-->
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                          <mat-form-field class="full-width">
                            <input matInput id="cvc_tarjeta" type="text" name="cvc_tarjeta" #cvc_tarjeta="ngModel" [(ngModel)]="txtcvc_tarjeta" placeholder="CVC">
                          </mat-form-field>
                          <!--<div *ngIf="tipoproducto.invalid && (tipoproducto.dirty || tipoproducto.touched)"
                               class="alert alert-danger">
                            <div *ngIf="tipoproducto.errors.required">
                              Tipo de producto requerido.
                            </div>
                          </div>-->
                        </div>
                      </div>
                    </form>
                  </div>
                </mat-tab>
                <mat-tab label="Depósito referenciado">
                  <div class="demo-tab-content">
                    <form #EquiposForm="ngForm">
                      <div class="col-xs-12" style="padding:0">
                        <div class="form-group col-xs-12 col-md-12">
                          <div class="col-md-6" style="padding:0;">
                            <label>Concepto</label><br />
                            <span>Servicio de reparación</span><br /><br />
                          </div>
                          <div class="col-md-6" style="padding:0;">
                            <label>Cantidad</label><br />
                            <span style="color:#4B91E2">5,000</span><br /><br />
                          </div>
                          <br />
                          <br />
                          <br />
                          <mat-divider></mat-divider>
                        </div>

                        <div class="form-group col-md-4">
                          <mat-form-field class="full-width">
                            <input type="text" name="fecha_deposito" matInput placeholder="Fecha de deposito" #fecha_deposito="ngModel" [(ngModel)]="txtfecha_deposito">
                            <mat-icon matSuffix><i class="fa fa-calendar" aria-hidden="true"></i></mat-icon>
                          </mat-form-field>

                          <!--<div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
                               class="alert alert-danger">
                            <div *ngIf="noalmacen.errors.required">
                              Número de almacen requerido.
                            </div>
                          </div>-->
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field class="full-width">
                            <input matInput id="no_operacion" type="text" name="no_operacion" #no_operacion="ngModel" [(ngModel)]="txtno_operacion" placeholder="Número de operación">
                          </mat-form-field>
                          <!--<div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
                               class="alert alert-danger">
                            <div *ngIf="noalmacen.errors.required">
                              Número de almacen requerido.
                            </div>
                          </div>-->
                        </div>
                        <div class="form-group col-md-4">
                          <mat-form-field class="full-width">
                            <input matInput id="comprobante" type="text" name="comprobante" #comprobante="ngModel" [(ngModel)]="txtcomprobante" placeholder="Comprobante">
                            <mat-icon matSuffix><i class="fa fa-upload" aria-hidden="true"></i></mat-icon>
                          </mat-form-field>
                        </div>
                      </div>
                    </form>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <div class="col-xs-12" style="padding-bottom:15px;"></div>
              <div class="col-xs-12" style="padding:0">
                <div class="form-group col-xs-12 col-md-12">
                  <mat-checkbox style="padding-right:10px"
                                id="no_pago"
                                name="no_pago"
                                [(ngModel)]="chk_no_pago"
                                #no_pago="ngModel"
                                value="1">
                    No hay pago
                  </mat-checkbox>
                  <mat-form-field *ngIf="chk_no_pago">
                    <mat-select placeholder="Selecciona" id="no_pago_cat" name="no_pago_cat" #no_pago_cat="ngModel" [(ngModel)]="ddl_no_pago_cat">
                      <mat-option value="Garantía">
                        Garantía
                      </mat-option>
                      <mat-option value="Asegurado">
                        Asegurado
                      </mat-option>
                      <mat-option value="Pendiente de Pago">
                        Pendiente de Pago
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group col-xs-12 col-md-12">
                  <mat-checkbox style="padding-right:10px"
                                id="terminos_condiciones_tarjeta"
                                name="terminos_condiciones_tarjeta"
                                [(ngModel)]="terminos_condiciones"
                                #terminos_condiciones_tarjeta="ngModel"
                                value="1" (ngModelChange)="validacion_terminos_condiciones()">
                    He leído y acepto los <span style="color:#E60000">terminos y condiciones</span>
                  </mat-checkbox>
                  <div *ngIf="terminos_condiciones_tarjeta.invalid && (terminos_condiciones_tarjeta.dirty || terminos_condiciones_tarjeta.touched) || !valid_acepto_terminos"
                       class="alert alert-danger">
                    <div>
                      Debes aceptar los términos y condiciones.
                    </div>
                  </div>
                </div>

                <div class="form-group col-xs-12 col-md-12">
                  <mat-checkbox style="padding-right:10px"
                                id="factura"
                                name="factura"
                                [(ngModel)]="requiere_factura"
                                #factura="ngModel"
                                value="1">
                    Requiere factura
                  </mat-checkbox>
                </div>
              </div>

              <div class="col-xs-12" *ngIf="requiere_factura">
                <div class="col-xs-12" style="padding:0;">
                  <div class="col-xs-12" style="padding-left:0; padding-right:0; padding-bottom:10px">
                    <mat-divider></mat-divider>
                  </div>
                  <div class="form-group col-md-4">
                    <mat-form-field class="full-width">
                      <input matInput id="razonsocialfactura" type="text" name="razonsocialfactura" #razonsocialfactura="ngModel" [(ngModel)]="txtrazonsocialfactura" placeholder="Razón social">
                    </mat-form-field>
                    <!--<div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
                         class="alert alert-danger">
                      <div *ngIf="noalmacen.errors.required">
                        Número de almacen requerido.
                      </div>
                    </div>-->
                  </div>
                  <div class="form-group col-md-4">
                    <mat-form-field class="full-width">
                      <input matInput id="rfcfactura" type="text" name="rfcfactura" #rfcfactura="ngModel" [(ngModel)]="txtrfcfactura" placeholder="RFC">
                    </mat-form-field>
                    <!--<div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
                         class="alert alert-danger">
                      <div *ngIf="noalmacen.errors.required">
                        Número de almacen requerido.
                      </div>
                    </div>-->
                  </div>
                  <div class="form-group col-md-4">
                    <mat-form-field class="full-width">
                      <input matInput id="emailfactura" type="text" name="emailfactura" #emailfactura="ngModel" [(ngModel)]="txtemailfactura" placeholder="Email">
                    </mat-form-field>
                    <!--<div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
                         class="alert alert-danger">
                      <div *ngIf="noalmacen.errors.required">
                        Número de almacen requerido.
                      </div>
                    </div>-->
                  </div>

                  <div class="form-group col-md-4">
                    <mat-form-field class="full-width">
                      <input matInput id="callefactura" type="text" name="callefactura" #callefactura="ngModel" [(ngModel)]="txtcallefactura" placeholder="Calle y número">
                    </mat-form-field>
                    <!--<div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
                         class="alert alert-danger">
                      <div *ngIf="noalmacen.errors.required">
                        Número de almacen requerido.
                      </div>
                    </div>-->
                  </div>
                  <div class="form-group col-md-4">
                    <mat-form-field class="full-width">
                      <input matInput id="cpfactura" type="text" name="cpfactura" #cpfactura="ngModel" [(ngModel)]="txtcpfactura" placeholder="C.P">
                    </mat-form-field>
                    <!--<div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
                         class="alert alert-danger">
                      <div *ngIf="noalmacen.errors.required">
                        Número de almacen requerido.
                      </div>
                    </div>-->
                  </div>
                  <div class="form-group col-md-4">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Estado" id="factura_estado" name="factura_estado" #factura_estado="ngModel" [(ngModel)]="ddlfactura_estado" (change)="getfacturamunicipios()">
                        <mat-option *ngFor="let value of estadosFactura; trackBy: index;" [value]="value.id">
                          {{value.desc_estado}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!--<div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
                         class="alert alert-danger">
                      <div *ngIf="noalmacen.errors.required">
                        Número de almacen requerido.
                      </div>
                    </div>-->
                  </div>

                  <div class="form-group col-md-4">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Delegación / Municipio" id="factura_municipio" name="factura_municipio" #factura_municipio="ngModel" [(ngModel)]="ddlfactura_municipio">
                        <mat-option *ngFor="let value of municipiosfactura; trackBy: index;" [value]="value.id">
                          {{value.municipio}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!--<div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
                         class="alert alert-danger">
                      <div *ngIf="noalmacen.errors.required">
                        Número de almacen requerido.
                      </div>
                    </div>-->
                  </div>
                  <div class="form-group col-md-4">
                    <mat-form-field class="full-width">
                      <input matInput id="coloniafactura" type="text" name="coloniafactura" #coloniafactura="ngModel" [(ngModel)]="txtcoloniafactura" placeholder="Colonia">
                    </mat-form-field>
                    <!--<div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
                         class="alert alert-danger">
                      <div *ngIf="noalmacen.errors.required">
                        Número de almacen requerido.
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.box -->
      </div>

      <div class="col-xs-12 text-center">
        <button class="pull-center btn btn-default btn-default-rojo" (click)="guardar_borrador()">Guardar borrador</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br class="visible-xs" />
        <br class="visible-xs" />
        <button type="submit" class="pull-center btn btn-default" (click)="guardar_servicio()">Crear Servicio</button><!--[disabled]="validform"-->
      </div>
      <!-- /.col -->
    </div>
  </section>
  <!-- /.content -->
</div>
