.cal-week-hours-view {

  .cal-day-headers {
    display: flex;
  }

  .cal-header {
    flex: 1;
    text-align: center;
  }

  .cal-header:first-child {
    flex: 0.8;
    text-align: left;
  }

  .cal-days-container {
    display: flex;
    width: 100%;
  }

  .cal-day-container {
    flex: 1;
  }

  .cal-day-container:first-child {
    flex: 0.5;
  }

  .cal-day-view .cal-week-hour-odd {
    background: #ffffff;
  }

  .cal-day-view .cal-week-hour-even {
    background: #fafafa;
  }

  .cal-day-view .cal-hour:not(:last-child) .cal-hour-segment,
  .cal-day-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
    border-bottom: 1px dotted #e1e1e1;
  }

  .cal-day-view .cal-hour-rows {
    overflow-y: hidden;
  }

  .cal-day-view .cal-ends-within-day .cal-event {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
  }

  .cal-day-view .cal-starts-within-day .cal-event {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
  }

  .cal-day-view .cal-event {
    border: solid 1px;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    height: 100%;
    box-sizing: border-box;
  }
}
