
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="width:100%; height:100%;">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">

      <li class="text-center hidden-xs" style="padding:0 !important;">
        <header class="main-header">
          <a class="logo text-center">
            <!--<span class="logo-mini" style="color:#000; font-size:x-large; letter-spacing: 2px;">BN</span>-->
            <span class="logo-lg" style="color:#000; font-size:x-large; letter-spacing: 2px;">BIENVENIDO</span>
          </a>
        </header>
      </li>
      <li style="padding:0 !important;">
        <br />
        <br />
        <br />
      </li>
      <li class="active treeview">
        <a href="#" style="font-size:large; letter-spacing: 1px;">
          <i class="fa fa-home"></i> Home
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active" style="padding-left:30px;"><a routerLink="dashboard1"><i class="fa fa-circle-o"></i> Dashboard </a></li>
        </ul>
      </li>
      <li class="treeview" *ngxPermissionsOnly="['Service Director', 'Contact Center', 'Technical Mangement', 'Field Service', 'Admin Warehouse', 'Finanzas Miele'];">
        <a href="#" style="font-size:large;">
          <i class="fa fa-ticket"></i>
          Órdenes de servcio
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li style="padding-left:30px;"><a routerLink="/buscacarservicio"><i class="fa fa-circle-o"></i> Ver Servicios</a></li>
          <li *ngxPermissionsExcept="['Service Director', 'Technical Mangement', 'Field Service', 'Admin Warehouse', 'Finanzas Miele'];" style="padding-left:30px;"><a routerLink="/verservicio"><i class="fa fa-circle-o"></i> Nuevo Servicio</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/vercalendario" style="font-size:large; letter-spacing: 1px;">
          <i class="fa fa-calendar"></i> Calendario
        </a>
      </li>
      <li class="treeview"  *ngxPermissionsOnly="['Admin Warehouse', 'Finanzas Miele'];">
        <a href="#" style="font-size:large; letter-spacing: 1px;">
          <i class="fa fa-cog"></i>
          Refacciones
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <!--<li style="padding-left:30px;"><a routerLink="/ver_refacciones"><i class="fa fa-circle-o"></i> Ver refacciones</a></li>-->
          <li style="padding-left:30px;" *ngxPermissionsExcept="['Finanzas Miele'];"><a routerLink="/nueva_refaccion"><i class="fa fa-circle-o"></i> Nueva refacción</a></li>
          <li style="padding-left:30px;" *ngxPermissionsExcept="['Finanzas Miele'];"><a routerLink="/asignacion_refaccion"><i class="fa fa-circle-o"></i> Entrega de refacciones</a></li>          
          <li style="padding-left:30px;"><a routerLink="/devolucion"><i class="fa fa-circle-o"></i> Devolución de Inventario</a></li>
        </ul>
      </li>
      <li class="treeview" *ngxPermissionsOnly="['Service Director', 'Technical Mangement', 'Field Service', 'Admin Warehouse', 'Finanzas Miele', 'Contact Center'];">
        <a href="#" style="font-size:large; letter-spacing: 1px;">
          <i class="fa fa-bars"></i>
          Clientes
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li style="padding-left:30px;"><a routerLink="/buscar_cliente"><i class="fa fa-circle-o"></i> Ver Clientes</a></li>
        </ul>
      </li>
      <li class="treeview" *ngxPermissionsOnly="['Contact Center'];">
        <a href="#" style="font-size:large; letter-spacing: 1px;">
          <i class="fa fa-question-circle-o"></i>
          Encuestas
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li style="padding-left:30px;"><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Ver Clientes</a></li>
        </ul>
      </li>
      <li class="treeview" *ngxPermissionsOnly="['Service Director', 'Technical Mangement'];">
        <a href="#" style="font-size:large; letter-spacing: 1px;">
          <i class="fa fa-users"></i>
          Técnicos
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/buscar_tecnico"><span style="padding-left:30px;"><i class="fa fa-circle-o"></i> </span>Ver Técnicos</a></li>
          <li><a routerLink="/addtecnico"><span style="padding-left:30px;"><i class="fa fa-circle-o"></i> </span>Nuevo Técnico </a></li>
        </ul>
      </li>
      <li *ngxPermissionsOnly="['Technical Mangement', 'Field Service'];">
        <a routerLink="/ultimosservicios" style="font-size:large; letter-spacing: 1px;">
          <i class="fa fa-address-book-o" aria-hidden="true"></i> Tareas pendientes
        </a>
      </li>
      <li class="treeview" *ngxPermissionsOnly="['Service Director'];" >
        <a href="#" style="font-size:large; letter-spacing: 1px;">
          <i class="fa fa-users"></i>
          <span>Administración</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li style="padding-left:30px;"><a routerLink="/modificarprecios"><i class="fa fa-circle-o"></i> Modificar precios</a></li>
          <li style="padding-left:30px;"><a><i class="fa fa-circle-o"></i> Checklist</a></li>
          <li style="padding-left:30px;"><a routerLink="/addtecnico"><i class="fa fa-lock" aria-hidden="true"></i> Nuevo Técnico</a></li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
    <!--<div style="height:1000px">

    </div>-->
  </section>
  <!-- /.sidebar -->
</aside>
