<div class="content-wrapper">
  <br class="visible-xs" />
  <br class="visible-xs" />
  <form #verservicioForm="ngForm">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <div class="col-xs-12">
                <h2 class="box-title negritas">Buscar servicio</h2>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <form #buscarForm="ngForm">
              <div class="box-body">
                <div class="col-xs-12" style="padding:0;">
                  <!--<div class="col-md-4">
                    <mat-form-field class="full-width">
                      <input type="text" name="daterangeInput" daterangepicker [options]="options" matInput placeholder="Fecha de creación" (selected)="selectedDate($event, daterange)" #fechacreacion="ngModel" [(ngModel)]="txtfechacreacion">
                      <mat-icon matSuffix><i class="fa fa-calendar" aria-hidden="true"></i></mat-icon>
                    </mat-form-field>
                  </div>-->

                  <div class="form-group col-md-4">
                    <mat-form-field class="full-width">
                      <input type="text" name="fechaservicio" daterangepicker [options]="options" matInput placeholder="Fecha de servicio" (selected)="selectedDateServicio($event, daterange)" #fechaservicio="ngModel" [(ngModel)]="txtfechaservicio">
                      <mat-icon matSuffix><i class="fa fa-calendar" aria-hidden="true"></i></mat-icon>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-md-4">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Técnico" name="tecnico" #tecnico="ngModel" [(ngModel)]="txttecnico">
                        <mat-option *ngFor="let value of tecnicos" [value]="value.id">
                          {{ value.tecnico }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="input-group col-xs-12 col-md-4" style="text-align:center;">
                    <span class="input-group-btn">
                      <button type="submit" class="pull-center btn btn-default btn-default-rojo" (click)="buscar()" [disabled]="preventAbuse" style="margin-right:5px;">
                        {{ preventAbuse ? 'Buscando...' : 'Buscar' }}
                      </button>

                      <button type="submit" class="pull-center btn btn-default btn-default" (click)="buscarForm.resetForm({}); limpiartabla();" [disabled]="preventAbuse">
                        {{ preventAbuse ? 'limpiando...' : 'Limpiar' }}
                      </button>
                    </span>
                  </div>
                </div>
                <!--<div class="col-xs-12 col-md-6">
                  <mat-checkbox class="example-margin" id="Prediagnostico" name="Prediagnostico" #Prediagnostico="ngModel" [(ngModel)]="Prediagnostico_value">Prediagnostico</mat-checkbox>
                </div>-->

                <div style="margin-bottom:50px"><br /></div>

                <div class="col-xs-12">
                  <div class="box-header with-border">
                    <h3 class="box-title negritas">Servicios</h3>
                  </div>
                  <div class="example-container mat-elevation-z2">
                    <mat-table #table [dataSource]="dataSource">

                      <!-- Position Column -->
                      <ng-container matColumnDef="folio">
                        <mat-header-cell *matHeaderCellDef> FOLIO </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/editarservicio', element.id_servicio]"><span>{{element.numero_servicio}}</span></a>
                        </mat-cell>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="ibs">
                        <mat-header-cell *matHeaderCellDef> IBS </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/editarservicio', element.id_servicio]"><span>{{element.ibs}}</span></a>
                        </mat-cell>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="cliente">
                        <mat-header-cell *matHeaderCellDef> CLIENTE </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/editarservicio', element.id_servicio]"><span>{{element.cliente}}</span></a>
                        </mat-cell>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="estatus">
                        <mat-header-cell *matHeaderCellDef> ESTATUS </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/editarservicio', element.id_servicio]"><span>{{element.estatus_servicio}}</span></a>
                        </mat-cell>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="fecha">
                        <mat-header-cell *matHeaderCellDef> FECHA DE SERVICIO </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/editarservicio', element.id_servicio]"><span>{{element.fecha_servicio}}</span></a>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="prediagnostico">
                        <mat-header-cell *matHeaderCellDef> PRE-DIAGNOSTICO </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/editarservicio', element.id_servicio]" *ngIf="element.pre_diagnostico">SI</a>
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/editarservicio', element.id_servicio]" *ngIf="!element.pre_diagnostico">NO</a>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="asignacion">
                        <mat-header-cell *matHeaderCellDef>SOLICITUD DE ASIGNACIÓN APROBADA</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/editarservicio', element.id_servicio]" *ngIf="element.asignacion_refacciones">SI</a>
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/editarservicio', element.id_servicio]" *ngIf="!element.asignacion_refacciones">NO</a>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-paginator #paginator
                                   [pageSize]="5"
                                   [pageSizeOptions]="[5, 10]">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </form>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </form>
</div>
