<div class="content-wrapper">
  <br class="visible-xs" />
  <br class="visible-xs" />
  <form #registroForm="ngForm">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Información de técnico</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12" style="padding:0">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="noalmacen" name="noalmacen" [(ngModel)]="tecnico.noalmacen" #noalmacen="ngModel" placeholder="Número de almacen" required>
                  </mat-form-field>
                  <div *ngIf="noalmacen.invalid && (noalmacen.dirty || noalmacen.touched)"
                       class="alert alert-danger">
                    <div *ngIf="noalmacen.errors.required">
                      Número de almacen requerido.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-8">
                  <label>Actividad</label><br />
                  <mat-checkbox *ngFor='let value of tiposervicio; trackBy: index;' style="padding-right:10px" [checked]="value.check"
                                value="value.id"
                                (change)="check_actividad($event, value)" color="primary">
                    {{value.desc_tipo_servicio}}
                  </mat-checkbox>
                  <div class="alert alert-danger" *ngIf="validar">
                    <div>
                      {{message}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                  <input type="text" matInput id="nombre" name="nombre" [(ngModel)]="tecnico.name" #nombre="ngModel" placeholder="Nombres(s)" required (ngModelChange)="validacion_form($event)">
                </mat-form-field>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                     class="alert alert-danger">
                  <div *ngIf="nombre.errors.required">
                    Nombres(s) requerido.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                  <input type="text" matInput id="aparteno" name="aparteno" #aparteno="ngModel" [(ngModel)]="tecnico.paterno" placeholder="Apellido paterno" required (ngModelChange)="validacion_form($event)">
                </mat-form-field>
                <div *ngIf="aparteno.invalid && (aparteno.dirty || aparteno.touched)"
                     class="alert alert-danger">
                  <div *ngIf="aparteno.errors.required">
                    Apellido paterno requerido.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                  <input type="text" matInput id="amaterno" name="amaterno" #amaterno="ngModel" [(ngModel)]="tecnico.materno" placeholder="Apellido materno">
                </mat-form-field>
              </div>
              <div class="col-xs-12" style="padding:0;">
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input type="text" matInput id="mail" name="mail" #mail="ngModel" [(ngModel)]="tecnico.email" disabled (ngModelChange)="validacion_form($event)" placeholder="Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
                  </mat-form-field>
                  <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
                       class="alert alert-danger">
                    <div *ngIf="mail.errors.required">
                      Email requerido.
                    </div>
                    <div *ngIf="mail.errors && mail.errors.pattern">
                      El Email no es valido (ej. ej@do.com)
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input [textMask]="{mask: mask, guide: false}" type="text" matInput name="telefono" [(ngModel)]="tecnico.telefono" placeholder="Télefono fijo">
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <mat-form-field class="full-width">
                    <input [textMask]="{mask: mask, guide: false}" type="text" matInput id="movil" name="movil" #movil="ngModel" [(ngModel)]="tecnico.movil" (ngModelChange)="validacion_form($event)" placeholder="Télefono celular" required>
                  </mat-form-field>
                  <div *ngIf="movil.invalid && (movil.dirty || movil.touched)"
                       class="alert alert-danger">
                    <div *ngIf="movil.errors.required">
                      Télefono celular requerido.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-12 col-xs-12 text-left">
                <label>Productos</label><br />
                <div *ngFor='let value of values; trackBy: index;' class="col-md-4" color="primary">
                  <mat-slide-toggle class="example-margin"
                                    name="{{ value.descripcion }}"
                                    [checked]="value.check"
                                    [disabled]="disabled"
                                    (change)="check_producto($event, value)">
                    {{ value.codigo }} - {{ value.descripcion }}
                  </mat-slide-toggle>
                </div>
              </div>
              <div class="col-xs-12 alert alert-danger" *ngIf="validar_slide">
                <div class="col-xs-12">
                  {{message_slide}}
                </div>
              </div>
            </div>

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 text-center" style="margin-bottom:15px">
          <button type="submit" (click)="registro($event)" class="pull-center btn btn-default btn-default-rojo" [disabled]="validform">
            Editar
          </button>
        </div>

        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Inventario</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12" style="padding:0;">
                <div class="col-xs-8" style="padding:0;">
                  <div class="box-header with-border" style="padding-left:0;">
                    <h3 class="box-title">Refacciones asignadas a: <strong style="color:#A5000D">{{tecnico.name}} {{tecnico.paterno}} {{tecnico.materno}}</strong></h3>
                  </div>
                </div>
                <div class="input-group col-xs-12">
                  <div class="col-md-12" style="padding-left:0">
                    <mat-form-field class="full-width">
                      <input matInput type="text" id="busqueda" name="busqueda" [(ngModel)]="text_busqueda" #busqueda="ngModel" placeholder="Buscar por: Número de refacción, descripción">
                    </mat-form-field>
                  </div>
                  <span class="input-group-btn">
                    <button type="button" class="pull-center btn btn-default btn-default-rojo" (click)="buscar()" [disabled]="preventAbuse" style="margin-right:5px;">
                      {{ preventAbuse ? 'Buscando...' : 'Buscar' }}
                    </button>

                    <button type="submit" class="pull-center btn btn-default btn-default" (click)="limpiartabla();" [disabled]="preventAbuse">
                      {{ preventAbuse ? 'limpiando...' : 'Ver todo' }}
                    </button>
                  </span>
                </div>
                <div class="col-xs-4" style="text-align:right; padding-right:0;">
                  <!--<button type="submit" (click)="asignar_refacciones($event)" class="pull-center btn btn-default btn-default-rojo">
                    Asignar refacciones
                  </button>-->
                </div>
              </div>
              <div class="col-xs-12" style="padding:0;">
                <div class="example-container mat-elevation-z2">
                  <mat-table #table [dataSource]="dataSource">

                    <!-- refacción Column -->
                    <ng-container matColumnDef="no">
                      <mat-header-cell *matHeaderCellDef> No. de refacción </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <a style="cursor:pointer; color:inherit">{{element.no_material}}</a>
                      </mat-cell>
                    </ng-container>

                    <!-- Descripción Column -->
                    <ng-container matColumnDef="nombre">
                      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <a style="cursor:pointer; color:inherit">{{element.descripcion}}</a>
                      </mat-cell>
                    </ng-container>

                    <!-- Cantidad Column -->
                    <ng-container matColumnDef="cantidad">
                      <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <a style="cursor:pointer; color:inherit">{{element.cantidad}}</a>
                      </mat-cell>
                    </ng-container>

                    <!-- Editar Column -->
                    <ng-container matColumnDef="editar">
                      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <button type="submit" class="pull-center btn btn-default btn-default-rojo btn-sm" [disabled]="preventAbuse" style="margin-right:5px;padding-left:10px;padding-right:10px" (click)="editar_refaccion(element);">
                          Editar
                        </button>
                        <!--<button type="submit" class="pull-center btn btn-default btn-default-rojo btn-sm" [disabled]="preventAbuse" style="margin-right:5px;padding-left:10px;padding-right:10px" (click)="asignar_refaccion(element);">
                          Asignar
                        </button>-->
                        <button type="submit" class="pull-center btn btn-default btn-sm" [disabled]="preventAbuse" style="margin-right:5px; padding-left:10px;padding-right:10px" (click)="eliminar_refaccion(element);">
                          Eliminar
                        </button>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>

                  <mat-paginator #paginator
                                 [pageSize]="5"
                                 [pageSizeOptions]="[5, 10]">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </form>
</div>
