<div class="content-wrapper">
  <br class="visible-xs" />
  <br class="visible-xs" />
  <form #verservicioForm="ngForm">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title negritas">Buscar técnicos</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="input-group">
                <div class="col-md-12">
                  <mat-form-field class="full-width">
                    <input matInput type="text" id="busqueda" name="busqueda" [(ngModel)]="text_busqueda" #busqueda="ngModel" placeholder="Buscar por: Nombre, Email, No. de almacen">
                  </mat-form-field>
                </div>
                <span class="input-group-btn">
                  <button type="submit" class="pull-center btn btn-default btn-default-rojo" (click)="buscar()" [disabled]="preventAbuse" style="margin-right:5px;">
                    {{ preventAbuse ? 'Buscando...' : 'Buscar' }}
                  </button>

                  <button type="submit" class="pull-center btn btn-default btn-default" (click)="verservicioForm.resetForm({}); buscar();" [disabled]="preventAbuse">
                    {{ preventAbuse ? 'limpiando...' : 'Ver todos' }}
                  </button>
                </span>
              </div>
              <div *ngIf="valid"
                   class="alert alert-danger col-md-8">
                <div>
                  Escribe un parametro de busqueda.
                </div>
              </div>
              <br />
              <div class="col-md-12">
                <div class="col-xs-12" style="padding:0;">
                  <div class="col-xs-12" style="padding:0;">
                    <div class="box-header with-border">
                      <h3 class="box-title negritas">Técnicos</h3>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12" style="padding:0;">
                  <div class="example-container mat-elevation-z2">
                    <mat-table #table [dataSource]="dataSource">

                      <!-- Position Column -->
                      <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef> Nombre. </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/info_tecnico', element.id]">{{element.nombre}}</a>
                        </mat-cell>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/info_tecnico', element.id]">{{element.email}}</a>
                        </mat-cell>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="almacen">
                        <mat-header-cell *matHeaderCellDef> Almacen </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/info_tecnico', element.id]">{{element.noalmacen}}</a>
                        </mat-cell>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="telefono">
                        <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/info_tecnico', element.id]">{{element.telefono}}</a>
                        </mat-cell>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="celular">
                        <mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a style="cursor:pointer; color:inherit" [routerLink]="['/info_tecnico', element.id]">{{element.telefono_movil}}</a>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-paginator #paginator
                                   [pageSize]="5"
                                   [pageSizeOptions]="[5, 10]">
                    </mat-paginator>
                  </div>
                </div>

                <div class="col-md-12" *ngIf="result_personas == 0 && result_direcciones == 0 && result_telefonos == 0 && result_ordenes == 0">
                  <h4>No hay resultados para la busqueda <span style="color:#A5000D; font-weight:bold;">{{text_busqueda}}</span></h4>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </section>
    <!-- /.content -->
  </form>
</div>
